:javascript
  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = '#{j javascript_path(path)}';
    var other = document.getElementsByTagName('script')[0];
    other.parentNode.insertBefore(script, other);
  })();
