%ul#main-accordion.sidebar-nav.nav.nav-pills.nav-stacked.panel-group
  = main_navigation
  .social-links.text-center
    =link_to 'https://www.linkedin.com/company/cenit-llc', target: '_blank' do
      %i.fa.fa-fw.fa-linkedin-square
    =link_to 'https://www.youtube.com/channel/UC7JVcEmA3BkiR2SZ_lx5lyA', target: '_blank' do
      %i.fa.fa-fw.fa-youtube-square
    =link_to 'https://plus.google.com/+Cenitsaas-page', target: '_blank' do
      %i.fa.fa-fw.fa-google-plus-square
    .cenit-llc
      =link_to '/', class: "text-muted" do
        %h5 Cenit, LLC
