.DS_Store
*.rbc
capybara-*.html
.rspec
/config/mongoid.yml
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
public/apis.guru.list.json
config/initializers/secret_token.rb
config/application.yml
config/deploy
*.swp
*.swo
config/mongoid.yml
## Environment normalisation:
.bundle/
config/deploy.rb
/vendor/bundle
/vendor/cache
.DS_Store
# these should all be checked in to normalise the environment:
# , .ruby-version, .ruby-gemset
# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

*~
.idea
.rbenv*
custom_Gemfile
.background_env
.frontend_env
