version: '3.7'

volumes:
  # We'll define a volume that will store the data from the mongo databases:
  mongodb-data: {}
  redis-data: {}

services:
  cenit_frontend:
    environment:
      - SKIP_DB_INITIALIZATION=true
      - SKIP_RABBIT_MQ=true
      - ENABLE_RERECAPTCHA=false
      - UNICORN_CENIT_SERVER=true
      - UNICORN_WORKERS=5
      - MAXIMUM_UNICORN_CONSUMERS=0
      - MONGODB_URI=mongodb://mongo_server/cenit
      - REDIS_HOST=redis
      # more options in application.example.yml
    command: ["bundle", "exec", "unicorn", "-c", "config/unicorn.rb"]
    build: .
    ports:
      - "80:8080"
    depends_on:
      - mongo_server
      - redis

  cenit_background:
    environment:
      - LOOKUP_SCHEDULER_OFF=false
      - LOAD_DELAYED_MESSAGES_ON_START=true
      - ENABLE_RERECAPTCHA=false
      - BASE_MULTIPLIER_ACTIVE_TASKS=50
      - SCHEDULER_LOOKUP_INTERVAL=8
      - UNICORN_CENIT_SERVER=true
      - UNICORN_WORKERS=6
      - MAXIMUM_UNICORN_CONSUMERS=6
      - REDIS_HOST=redis
      - MONGODB_URI=mongodb://mongo_server/cenit
      - RABBITMQ_BIGWIG_TX_URL=amqp://cenit_rabbit:cenit_rabbit@rabbitmq/cenit_rabbit_vhost
      # more options in application.example.yml
    command: ["bundle", "exec", "unicorn", "-c", "config/unicorn.rb"]
    build: .
    depends_on:
      - mongo_server
      - redis
      - rabbitmq

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_PASS=cenit_rabbit
      - RABBITMQ_DEFAULT_USER=cenit_rabbit
      - RABBITMQ_DEFAULT_VHOST=cenit_rabbit_vhost
    labels:
        NAME: "rabbitmq-server"

  mongo_server:
    image: mongo:3.6
    volumes:
      # We'll mount the 'mongodb-data' volume into the location mongodb stores it's data:
      - mongodb-data:/data/db

  redis:
    image: redis:5
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
