version: '3.9'

volumes:
  mongodb-data: {}
  redis-data: {}

services:
  ui:
    image: ghcr.io/cenit-io/ui:latest
    ports:
      - "3002:80"
    environment:
      - REACT_APP_LOCALHOST=http://localhost:3002
      - REACT_APP_CENIT_HOST=http://localhost:3000
  server:
    environment:
      - MONGODB_URI=mongodb://mongo_server/cenit
      - REDIS_HOST=redis
      - HOMEPAGE=http://localhost:3000
      - RABBITMQ_BIGWIG_TX_URL=amqp://cenit_rabbit:cenit_rabbit@rabbitmq/cenit_rabbit_vhost
      - SCHEDULER_LOOKUP_INTERVAL=8
      - UNICORN_WORKERS=4
      - MAXIMUM_UNICORN_CONSUMERS=4
    build: .
    command: bash -c "rm -fR /var/www/shared/pids/* ; bundle install ; bundle exec unicorn_rails -c config/unicorn.rb"
    volumes:
      - .:/var/www/cenit
      - /var/www/shared
    depends_on:
      - mongo_server
      - redis
    links:
      - mongo_server
  nginx:
    restart: always
    build: ./nginx/
    ports:
      - "3000:80"
    volumes_from:
      - server
    links:
      - server:server 
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_PASS=cenit_rabbit
      - RABBITMQ_DEFAULT_USER=cenit_rabbit
      - RABBITMQ_DEFAULT_VHOST=cenit_rabbit_vhost
    labels:
        NAME: "rabbitmq-server"
  mongo_server:
    image: mongo:4.4
    restart: always
    volumes:
      - mongodb-data:/data/db
  redis:
    image: redis:5
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
