- unless (ENV['UNABLE_SIGN_IN_AND_SIGN_UP_DEVISE'] || false).to_b
  .question.flex.full-width.justify-content-center
    .label
      = "No account?"
    = link_to "Create one", new_registration_path(resource_name, { return_to: params[:return_to] }), class: 'link link-primary'