-text = 'Automate <span>sales</span>,<span> marketing</span> and <span>business process</span>'
.slide.second.active
  .bg
  .container
    %h1.hero-text
      ='Integrate your cloud applications'
    %h2.text-center
      =text.html_safe
    - unless current_user
      .text-center
        = link_to '#', class: 'button-outline go-sign-in' do
          ='TRY IT FREE'