.slide.third
  .bg
  .container
    .row
      .col-sm-4.info.hidden-xs.mobiles
        .cloud_services
          %i.fa.fa-cloud{'aria-hidden': 'true'}
          %i.fa.fa-google{'aria-hidden': 'true'}
          %i.fa.fa-github{'aria-hidden': 'true'}
          %i.fa.fa-facebook{'aria-hidden': 'true'}
          %i.fa.fa-twitter{'aria-hidden': 'true'}
          %i.fa.fa-amazon{'aria-hidden': 'true'}
          %i.fa.fa-dropbox{'aria-hidden': 'true'}
      .col-sm-8.from-bottom
        %h1.hero-text.animated.fadeInLeft
          ='Need an easy way to connect your business with Cloud Services ?'
        %p.sub-text.animated.fadeInLeft
          ='Cenit IO is the perfect tool to help you out.'
        - unless current_user
          .cta.animated.fadeInRight
            - anonymous = current_user ? 'false' : 'true'
            - dashboard_root =  @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
            = link_to 'See the tour','',class: 'take-tour button-outline', data:{anonymous: anonymous , 'dashboard-root': dashboard_root.to_s}
            = link_to 'Try it free','',class: 'button go-sign-in'