-text = 'beyond any pre-built point to point integration'
.slide.second.active
  .bg
  .container
    %h1.hero-text
      ='If you have'
      %span
        ='unique'
      =' integration needs'
      .sub-text
        =text.html_safe
    - unless current_user
      .actions
        .cta
          = link_to '#', class: 'button-outline go-sign-in' do
            = 'TRY IT FREE'
            = content_tag :i, '', class: 'fa fa-chevron-right'
