-text = 'beyond any pre-built point to point integration'
.slide.second.active
  .bg
  .container
    %h1.hero-text
      ='Manage your unique integration needs'
    %h2.text-center
      =text.html_safe
    - unless current_user
      .text-center
        = link_to '#', class: 'button-outline go-sign-in' do
          ='TRY IT FREE'
