.slide.third
  .bg
  .container
    %h1.hero-text.animated.fadeInLeft
      = 'If you need a'
      %span
        = 'pervasive integration'
      = 'approach'
      .sub-text
        ='to continuously add new values to your business'
    = render partial: 'rails_admin/main/home/sliders/btns'