.slide.first
  .bg
  .container
    %h1.hero-text
      = 'If you are looking for a'
      %span
        = 'complete automation'
      .sub-text
        = 'of all operational processes in a company'
    = render partial: 'rails_admin/main/home/sliders/btns'