-text = 'beyond any pre-built point to point integration'
.slide.second.active
  .bg
  .container
    %h1.hero-text
      ='If you have'
      %span
        ='unique'
      =' integration needs'
      .sub-text
        =text.html_safe
    = render partial: 'rails_admin/main/home/sliders/btns'