%section#clients
  .container
    .col-xs-12
      %ul
        %li
          = image_tag 'circle-icons/one-color/globe.png'
        %li
          = image_tag 'circle-icons/one-color/stack.png'
        %li
          = image_tag 'circle-icons/one-color/support.png'
