%section#features.white-back
  #grid-second
    .container
      .row.header.text-center
        .col-md-12
          %h3='Features'
          %p
            ='One Platform for all your integration needs.'
      .row.features
        -home_features.each do |f|
          .col-sm-6
            %div{class: "col-xs-12 feature #{ f[:color]} "}
              .col-xs-6.col-sm-4.image
                %i{class: "fa fa-5x #{f[:icon]}" ,'aria-hidden'=> 'true'}
              .col-xs-6.col-sm-8.desc
                %h1
                  = f[:name]
                %p
                  = f[:desc]