%section#services
  .container
    .row.header
      %h1
        ='What can Cenit IO do for you?'
      %p
        ="Cenit IO can help you with this scenarios and more. Don't wait, "
        = link_to 'contact us', '#',class: 'contact-modal'
        = 'now'
    .owl-carousel
      - home_services.each do |s|
        %div
          .service
            %i{class: s[:icon] }
            %span
              %h1
                = s[:name]
              %p>
                = s[:desc]