%section#subdomains
  .container
    .header
      %h3='Services'
      %p
        ="Explore our services. It's Free, "
        = link_to 'try it now!', '#',class: 'go-sign-in'
    .row
      = subdomains_at_home