.social-links.absolute.text-center.last
  =link_to 'https://www.linkedin.com/company/cenit-io', target: '_blank' do
    %i.fa.fa-fw.fa-linkedin-square
  =link_to 'https://www.facebook.com/cenit.io', target: '_blank' do
    %i.fa.fa-fw.fa-facebook-square
  =link_to 'https://www.twitter.com/cenit_io', target: '_blank' do
    %i.fa.fa-fw.fa-twitter-square
  .cenit-llc
    =link_to 'mailto:support@cenit.io', class: "text-muted" do
      %h5= 'support@cenit.io'
      %i.fa.fa-fw.fa-copyright{style: 'font-size: 14px; width: 100%;'}= ' 2015-2018 Cenit, LLC.'
