.social-links.absolute.text-center.last
  =link_to 'https://github.com/openjaf/cenit', target: '_blank' do
    %i.fa.fa-fw.fa-github-square
  =link_to 'https://www.linkedin.com/company/cenit-llc', target: '_blank' do
    %i.fa.fa-fw.fa-linkedin-square
  =link_to 'https://www.youtube.com/channel/UC7JVcEmA3BkiR2SZ_lx5lyA', target: '_blank' do
    %i.fa.fa-fw.fa-youtube-square
  .cenit-llc
    =link_to 'mailto:support@cenit.io', class: "text-muted" do
      %h5= 'support@cenit.io'
      %i.fa.fa-fw.fa-copyright{style: 'font-size: 14px; width: 100%;'}= ' 2014-2017 Cenit, LLC.'
