= render partial: 'home/header'

%main#home_content
  %section
    .container
      .row
        %h3
          A new Cenit IO  has been launched at
          =link_to 'web.cenit.io', 'https://web.cenit.io'
      .row
        %br
      .row
        .col-sm-4.col-sm-offset-3
          =link_to 'Learn more', 'https://web.cenit.io', id: 'sign-basic-link', class: 'btn btn-primary'
      .row
        %h3
          Or continue here to use the legacy Cenit IO
