%ul.nav.navbar-nav.navbar-right.root_links
  %button#nav-drawer-toggle.btn.a.navbar-brand.toggle-btn
    %i

%ul.nav.navbar-nav.navbar-right.root_links
  .a.navbar-btn
    =link_to t('admin.session.new'), new_session_path(User), class: 'btn btn-primary', id: 'sign-basic-link', style: 'padding-right:10px'
