<H1>Welcome to Cenit Hub!</h1>

<% if user_signed_in? %>
  <p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% # link_to "Sign out", destroy_user_session_path, method: :get %>
  </p>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>
