/* main menu */
ul.subdomain-menu {
    padding-left: 0;
    list-style-type: none;
}

ul.subdomain-menu > li a {
    display: block;
    position: relative;
    padding: 13px 0 13px 15px;
    font-size: 14px;
    color: white;
    background-color: #f24352;
    border-top: 1px solid #dfdfdf;
    text-decoration: none;
}

ul.subdomain-menu > li a:hover {
    text-decoration: none;
    background-color: #d9edf7;
    color: #31708f ;
}

ul.subdomain-menu > li.active > a {
    background-color: #d9edf7;
    color: #31708f ;
}

ul.subdomain-menu > li:first-child > a {
    border-top: none;
}

ul.subdomain-menu > li i {
    width: 14px;
    text-align: center;
}

ul.subdomain-menu > li .text {
    padding-left: 8px;
    font-size: 0.9em;
}

ul.subdomain-menu > li .toggle-icon {
    font-size: 14px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 16px;
    text-shadow: none;
}

ul.subdomain-menu .sub-menu {
    position: relative;
    display: none;
    padding-left: 0;
}

ul.subdomain-menu .sub-menu.open {
    overflow: hidden;
    display: block;
}

ul.subdomain-menu .sub-menu li a {
    padding-left: 33px;
}

ul.subdomain-menu .sub-menu li.active > a {
    font-weight: 700;
}

ul.subdomain-menu .sub-menu .sub-menu li a {
    padding-left: 50px;
}
