.generate-api {
  position: relative;
  right: 12px;
  top: -51px;
  float: right;

  button {
    padding: 2px 10px;
    background-color: transparent;
    color: inherit;
    opacity: 0.5;

    &:hover, &:active {
      opacity: 1;
    }
  }

  .dropdown-menu {
    background-color: #3d4046;
    color: white;

    [role=menuitem] {
      .method {
        width: 6em;
        padding: 1pt;
        text-transform: uppercase;

        &.get {
          background-color: lightgreen;
        }

        &.delete {
          background-color: red;
        }

        &.post, &.put {
          background-color: gold;
        }
      }

      .label {
      }
    }
  }

}