@mixin request-methods() {
  .method {
    width: 6em;
    padding-top: 4px;
    display: inline-block;
    text-transform: uppercase;

    &.get {
      @include label-variant($label-success-bg);
    }

    &.delete {
      @include label-variant($label-danger-bg);
    }

    &.post, &.put {
      @include label-variant($label-info-bg);
    }

    &.put {
      @include label-variant($label-warning-bg);
    }
  }
}

.menu-api {
  button {
    padding: 2px 10px;
    position: absolute;
    right: 0;

    &:hover, &:active {
      opacity: 1;
    }
  }

  .dropdown-menu {
    li {
      a {
        @include request-methods();
      }
    }
  }
}

.sdk-code {
  @include request-methods();

  .uri {
    color: black;
  }

  .copy-to-clipboard {
    float: right;
    margin-left: 1em;
    margin-top: 0;
  }

  pre.code {
    padding: 1em;
    border-radius: 10px;
    margin-top: 0;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}