.swagger-editor {
  border: 0;
  margin-top: -20px;
  height: calc(100% - 102px);
  width: 100%;
}

.icon-swagger {
  &:before {
    content: "X";
    font-size: 18px;
    color: transparent;
    padding: 0px 1px 1px;
    background: url("/swagger-editor/images/favicon-16x16.png") no-repeat center;
  }
}