@import "bootstrap/bootstrap-tour.min";

@import "rails_admin/custom/github";

.navbar-brand img {
  max-height: 100%;
  width: auto;
  padding-bottom: 4px;
}

/* Toogle styles*/

#sidebar-toggle {
  color: rgba(0, 0, 0, 0.87);
  margin: 0 1px;
  width: 48px;
  text-align: center;
}

#sidebar-toggle i.fa {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  //-webkit-transform: rotate(-90deg);
  //-moz-transform: rotate(-90deg);
  //-o-transform: rotate(-90deg);
  //transform: rotate(-90deg);
}

#sidebar-toggle.toggled i.fa {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: scroll;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: 250px;
  width: 55px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #ffffff!important;
  border-right: solid 1px #e7e7e7!important;
}

#sidebar-wrapper .nav-caret,
#sidebar-wrapper .nav-caption {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;

  opacity: 0;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #sidebar-wrapper .nav-caret,
#wrapper.toggled #sidebar-wrapper .nav-caption {
  opacity: 1;
}

#wrapper #sidebar-wrapper:hover {
  width: 250px;
}
#wrapper #sidebar-wrapper:hover .nav-caret,
#wrapper #sidebar-wrapper:hover .nav-caption {
  opacity: 1;
}


#content-wrapper {
  width: 100%;
  overflow-x: hidden;
  background: #fff;
  position: relative;
  margin-right: 0;
  margin-left: 60px;
}

.xyz{
  min-width: 360px;
}

#wrapper.toggled #content-wrapper {
  margin-right: 0;
  margin-left: 0;
}

.fixed-brand{
  width: auto;
}

/*Sidebar styles*/

.sidebar-nav {
  position: absolute!important;
  top: 0!important;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

@media screen and (max-width: 280px) {
  .navbar-brand span.cenit-hub {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .navbar-header {
    width: 250px;
    padding: 0 6px;
  }

  #sidebar-toggle i.fa {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  #sidebar-toggle.toggled i.fa {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand{
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }
  #sidebar-wrapper .nav-caret,
  #sidebar-wrapper .nav-caption {
    opacity: 1;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 55px;
  }
  #wrapper.toggled #sidebar-wrapper .nav-caret,
  #wrapper.toggled #sidebar-wrapper .nav-caption {
    opacity: 0;
  }


  #wrapper.toggled #sidebar-wrapper:hover {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper:hover .nav-caret,
  #wrapper.toggled #sidebar-wrapper:hover .nav-caption {
    opacity: 1;
  }

  #content-wrapper {
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-left: 15px;
    padding-right: 15px;
  }

  #wrapper.toggled #content-wrapper {
    padding-left: 10px;
    padding-right: 0;
    position: relative;
    margin-right: 0;
    margin-left: 60px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
  }
}

ul#main-accordion {
  padding: 6px;
  overflow: visible;
}

.panel-heading {
  padding: 0;
}

.panel-heading>a {
  padding: 10px 0;
}

ul#main-accordion a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

ul#main-accordion .panel {
  border: 0;
  box-shadow: none;
  width: 100%;
}

ul#main-accordion>.panel>.panel-heading {
  border: solid 1px rgba(221, 221, 221, 0.87);
}

ul#main-accordion>.panel .panel .panel-heading {
  background-color: rgba(0,0,0,0.065);
  border-radius: 3px;
}

ul#main-accordion>.panel.active>.panel-heading {
  background-color: #d9edf7 !important;
  border-color: #bce8f1;
}
ul#main-accordion>.panel.active>.panel-heading a {
  color: #31708f !important;
}

ul#main-accordion .panel.active {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion>.panel.active .panel.active>.panel-heading {
  background-color: transparent;
}

ul#main-accordion a:hover,
ul#main-accordion a:focus,
ul#main-accordion a:active,
ul#main-accordion li.active>a {
  text-decoration: none;
}

ul#main-accordion div>a:hover,
ul#main-accordion li>a:hover,
ul#main-accordion li>a:focus,
ul#main-accordion li>a:active,
ul#main-accordion li.active>a {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion>.panel>.panel-collapse a,
ul#main-accordion>.panel>.panel-collapse>.panel>.panel-heading a {
  padding-left: 2rem;
}

ul#main-accordion>.panel>.panel-collapse>.panel li>a
 {
  padding-left: 4rem;
}

ul#main-accordion .nav-caret {
  float: right;
  margin-left: 1rem;
  margin-right: 12px;
}

ul#main-accordion .nav-amount {
  float: right;
  margin-left: 1rem;
  line-height: 1;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #d9edf7 !important;
  border: solid 1px #bce8f1;
  color: #31708f !important;
  font-weight: bold;
  font-size: 10.5px;
}

ul#main-accordion .nav-caret i {
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

ul#main-accordion .panel.active>.panel-heading .nav-caret i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

ul#main-accordion .panel-heading .nav-icon {
  width: 48px;
  padding: 0 12px;
  display: inline-block;
  text-align: center;
}

/* Dashboard overview*/
.blocks {
  margin-bottom: 12px;
}

.blocks .block {
  border: solid 1px;
  border-radius: 1px;
  padding: 0 10px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  margin-bottom: 12px;
}

.blocks .block:hover {
  border-color: #94c3ea;
}

.block .icon,
.block .caption {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.block .icon i {
  font-size: 32px;
  color: #31708f;
}

@media (min-width: 768px) and (max-width: 999px) {
  .block .icon {
    display: none;
  }
}

.block .caption h4 {
  margin-bottom: 2px;
}

.block .caption h6 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 14px;
  color: #777;
}

// Grid styles ... from APIGuru
#grid-wrapper .panel {
  position: relative;
}

#grid-wrapper .options-menu {
  position: absolute;
  z-index: 1000;
  top: 4px;
  right: 4px;
}

#grid-wrapper .options-menu:hover {
  padding-left: 32px;
}

#grid-wrapper .options-menu > span {
  padding: 5px;
  color: #333333;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#grid-wrapper .options-menu:hover > span {
  border-color: rgba(0,0,0,0.15);
  background-color: #ffffff;
  border-bottom: none;
}

#grid-wrapper .options-menu:hover > span:after {
  display: block;
  background-color: #ffffff;
  content: ' ';
  position: absolute;
  width: calc(100% - 34px);
  height: 6px;
  right: 1px;
  bottom: -1px;
  z-index: 1001;
}

#grid-wrapper .options-menu.open > span {
  background-color: rgba(0,0,0,0.24);
  border: solid 1px rgba(0,0,0,0.15);
}

#grid-wrapper .options-menu .dropdown-menu {
  right: 0!important;
  left: auto!important;
  margin-top: 0!important;
  border-top-right-radius: 0;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  display: block!important;
  overflow: hidden;
  transform: translateY(-5%);
  opacity: 0;
  height: 0;
  border-top: none;
}

#grid-wrapper .options-menu:hover .dropdown-menu {
  transform: none;
  opacity: 1;
  height: auto;
  border-top: solid 1px rgba(0,0,0,0.15);
}

#grid-wrapper .options-menu .dropdown-menu a {
  color: #428bca;
}

#grid-wrapper .panel-heading {
  padding: 10px 15px;
  padding-right: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

#grid-wrapper .panel-body-logo {
  height: 100px;
  vertical-align: middle;
  line-height: 90px;
  padding: 5px;
}

#grid-wrapper img.logo {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

#grid-wrapper .panel-body-description {
  margin-top: 15px;
}

#grid-wrapper .line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0!important;
}

#grid-wrapper .line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.2 * 3);
}

#grid-wrapper .footer-description {
  font-size: 0.8em;
  margin-bottom: 0.1em;
  color: #a2a2a2;
}

#grid-wrapper .versions > span {
  display: inline-block;
  vertical-align: middle;
}

#grid-wrapper .truncate {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}