@import "bootstrap/bootstrap-tour.min";

@import "rails_admin/custom/github";


.sidebar-nav {
  background-color: #fff!important;
}

ul#main-accordion {
  padding: 6px;
}

.panel-heading {
  padding: 0;
}

.panel-heading>a{
  padding:10px 15px;
}

ul#main-accordion a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

ul#main-accordion .panel {
  border: 0;
  //border-radius: 0;
  box-shadow: none;
}

ul#main-accordion>.panel>.panel-heading {
  border: solid 1px rgba(221, 221, 221, 0.87);
}

ul#main-accordion>.panel .panel .panel-heading {
  background-color: rgba(0,0,0,0.065);
  border-radius: 3px;
}

ul#main-accordion>.panel.active>.panel-heading {
  background-color: #d9edf7 !important;
  border-color: #bce8f1;
}
ul#main-accordion>.panel.active>.panel-heading a {
  color: #31708f !important;
}

ul#main-accordion .panel.active {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion>.panel.active .panel.active>.panel-heading {
  background-color: transparent;
}

ul#main-accordion a:hover,
ul#main-accordion a:focus,
ul#main-accordion a:active,
ul#main-accordion li.active>a {
  text-decoration: none;
}

ul#main-accordion div>a:hover,
ul#main-accordion li>a:hover,
ul#main-accordion li>a:focus,
ul#main-accordion li>a:active,
ul#main-accordion li.active>a {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion>.panel>.panel-collapse a,
ul#main-accordion>.panel>.panel-collapse>.panel>.panel-heading a {
  padding-left: 2rem;
}

ul#main-accordion>.panel>.panel-collapse>.panel li>a
 {
  padding-left: 4rem;
}

ul#main-accordion .nav-caret {
  float: right;
  margin-left: 1rem;
}

ul#main-accordion .nav-amount {
  float: right;
  margin-left: 1rem;
  line-height: 1;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #d9edf7 !important;
  border: solid 1px #bce8f1;
  color: #31708f !important;
  font-weight: bold;
  font-size: 10.5px;
}

ul#main-accordion .nav-caret i {
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

ul#main-accordion .panel.active>.panel-heading .nav-caret i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}