@import "bootstrap/bootstrap-tour.min";
@import "rails_admin/custom/github";
@import "rails_admin/custom/select2.min";
@import "rails_admin/custom/select2-bootstrap.min";
@import "rails_admin/custom/swagger";
@import "rails_admin/custom/notebooks";
@import "rails_admin/custom/rest-api";
@import "rails_admin/custom/highlight-dracula";
@import "rails_admin/custom/foreign-notification";

/*Theming variables*/

$link_color: rgb(66, 139, 202);

body.rails_admin {
  padding-top: 55px !important;
}

.navbar-brand img {
  max-height: 100%;
  width: auto;
  padding-bottom: 4px;
}

ul#main-accordion {
  z-index: -2;
  .social-links {
    z-index: -1;
  }
}

.container-fluid {
  background: #3D4046;
}

#secondary-navigation .navbar-right {
  padding-left: 24px;
}

#tenant-nav li.dropdown a.dropdown-toggle,
#help-nav li.dropdown a.dropdown-toggle,
#user-nav li.dropdown a.dropdown-toggle {
  color: white;
}

#tenant-nav > li.dropdown.open > a,
#help-nav > li.dropdown.open > a,
#user-nav > li.dropdown.open > a {
  color: #3D4046;
}

a#sign-in-link, a#sign-out-link {
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0;
  background-color: #ea7400;
}

ul.root_links li a i {
  color: white;
}

a#sign-in-link:hover, a#sign-out-link:hover {
  border-color: #ea7400;
  transition: .5s;
}

#tenant-nav .dropdown-menu,
#help-nav .dropdown-menu,
#user-nav .dropdown-menu {
  min-width: calc(100% + 4px);
}

#tenant-nav > li.dropdown.open > a,
#help-nav > li.dropdown.open > a,
#user-nav > li.dropdown.open > a {
  background-color: white;
  border-right: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#tenant-nav > li.dropdown.open > a:after,
#help-nav > li.dropdown.open > a:after,
#user-nav > li.dropdown.open > a:after {
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 6px;
  right: 0;
  bottom: -3px;
  z-index: 1001;
  background-color: white;
}

#tenant-menu,
#help-menu,
#user-menu {
  padding: 12px;
}

#tenant-menu .edit_user_root_link img,
#help-menu .edit_user_root_link img,
#user-menu .edit_user_root_link img {
  position: inherit;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

#tenant-menu > li > a,
#help-menu > li > a,
#user-menu > li > a {
  padding: 3px;
}

.toggle-btn {
  color: white !important;
  background-color: transparent;
  padding: 2px 0 0;
  border-color: transparent;
  font-size: 24px;
  line-height: 100%;
  transition: all .1s ease-in-out;
  width: 40px;
}

.toggle-btn:active,
.toggle-btn:focus,
.toggle-btn:hover,
.toggle-btn:active:focus {
  outline: none;
  box-shadow: none;
}

.toggle-btn:hover {
  color: white !important;
  border-color: transparent;
  background-color: transparent;
  font-size: 28px;
  padding-top: 0;
}

#drawer-toggle i.fa,
#sidebar-toggle i.fa {
  transition: all 0.5s ease;
}

#sidebar-toggle.toggled i.fa {
  transform: rotate(180deg);
}

/* Search form styles */

#navbar-search input {
  transition: all .3s ease-in-out;
  height: 40px;
  margin-top: 7px;
  padding: 0;
  width: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: white;
}

#navbar-search.open input {
  width: 150px;
  padding: 6px;
  border-bottom: solid 2px white;
}

#navbar-search #search-toggle {
  margin: 0;
}

/* Nav Drawer styles*/

ul.drawer {
  display: block;
  position: fixed;
  top: calc(100% + 1px);
  left: 100%;
  width: 250px;
  height: calc(100vh - 100%);
  background-color: #3D4046;
  transition: all .5s ease-in-out;
  padding: 6px;
  margin: 0;
}

ul.drawer #sign-links,
ul.drawer #nav-links {
  overflow-y: auto;
  margin-bottom: 67px;
  height: calc(100% - 67px);
}

ul.drawer.open {
  transform: translateX(-250px);
}

ul.drawer li {
  display: block;
  padding: 1em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.75);
}

ul.drawer li.last {
  border-bottom: none;
}

ul.drawer li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

ul.drawer li a span {
  padding-left: 1em;
}

.social-links.absolute {
  position: absolute;
  width: calc(100% - 12px);
  bottom: 0;
  background-color: #3D4046;
}

.social-links a {
  display: inline-block;
  font-size: 24px !important;
  line-height: 32px;
  color: white;
}

/* Toggle styles*/

#wrapper {
  padding-left: 55px;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: 250px;
  width: 55px;
  height: calc(100% - 50px);
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background: #ffffff !important;
  border-right: solid 1px #e7e7e7 !important;
}

#sidebar-wrapper .nav-caret,
#sidebar-wrapper .nav-caption {
  transition: opacity 0.5s ease;

  opacity: 0;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #sidebar-wrapper .nav-caret,
#wrapper.toggled #sidebar-wrapper .nav-caption {
  opacity: 1;
}

#wrapper #sidebar-wrapper:hover {
  width: 250px;
}

#wrapper #sidebar-wrapper:hover .nav-caret,
#wrapper #sidebar-wrapper:hover .nav-caption {
  opacity: 1;
}

#content-wrapper {
  width: calc(100% - 250px);
  background: #fff;
  position: fixed;
  padding: 10px 15px 15px;
  overflow: auto;
  height: calc(100% - 50px);
}

.xyz {
  min-width: 360px;
}

.fixed-brand {
  width: auto;
}

/*Sidebar styles*/

.sidebar-nav {
  position: absolute !important;
  top: 0 !important;
  width: 250px;
  padding: 0;
  list-style: none;
  margin: 2px 0 44px;
  overflow-y: auto !important;
}

@media screen and (max-width: 280px) {
  .navbar-brand span.cenit-hub {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar-header {
    width: 250px;
    padding: 0 6px;
  }
}

ul#main-accordion {
  padding: 6px;
}

.panel-heading {
  padding: 0;
}

.panel-heading > a {
  padding: 10px 0;
}

ul#main-accordion a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

ul#main-accordion .panel {
  border: 0;
  box-shadow: none;
  width: 100%;
}

ul#main-accordion > .panel > .panel-heading {
  border: solid 1px rgba(221, 221, 221, 0.87);
  border-radius: 4px;
}

ul#main-accordion > .panel .panel .panel-heading {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion > .panel.active > .panel-heading {
  background-color: #d9edf7 !important;
  border-color: #bce8f1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

ul#main-accordion > .panel.active > .panel-heading a {
  color: #31708f !important;
}

ul#main-accordion .panel.active {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion > .panel.active .panel.active > .panel-heading {
  background-color: transparent;
}

ul#main-accordion a:hover,
ul#main-accordion a:focus,
ul#main-accordion a:active,
ul#main-accordion li.active > a {
  text-decoration: none;
}

ul#main-accordion div > a:hover,
ul#main-accordion li > a:hover,
ul#main-accordion li > a:focus,
ul#main-accordion li > a:active,
ul#main-accordion li.active > a {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion > .panel > .panel-collapse a,
ul#main-accordion > .panel > .panel-collapse > .panel > .panel-heading a {
  padding-left: 2rem;
}

ul#main-accordion > .panel > .panel-collapse > .panel li > a {
  padding-left: 4rem;
}

ul#main-accordion .nav-caret {
  float: right;
  margin-left: 1rem;
  margin-right: 12px;
}

ul#main-accordion .nav-amount {
  float: right;
  margin-left: 1rem;
  line-height: 1;

  border-radius: 4px;

  color: #31708f !important;
  font-weight: bold;
  font-size: 10.5px;
  &.active {
    padding: 1px 4px;
    background-color: #d9edf7 !important;
    border: solid 1px #bce8f1;
  }
}

ul#main-accordion .nav-caret i {
  transition: transform 0.3s ease-in-out;
}

ul#main-accordion .panel.active > .panel-heading .nav-caret i {
  transform: rotate(180deg);
}

ul#main-accordion .panel-heading .nav-icon {
  width: 48px;
  padding: 0 12px;
  display: inline-block;
  text-align: center;
}

.social-links .cenit-llc {
  width: 100%;
}

#sidebar-wrapper .social-links {
  position: absolute;
  bottom: 0;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  padding: 12px;
}

#os-love {
  white-space: nowrap;
  overflow: hidden;
}

#os-love span {
  transition: all .5s ease-in-out;
  visibility: collapse;
  opacity: 0;
  max-width: 0;
  display: inline-block;
}

#sidebar-wrapper:hover #os-love span,
#wrapper.toggled #os-love span {
  transition: all .5s ease-in-out .05s;
  visibility: visible;
  opacity: 1;
  max-width: 100%;
}

/* Signin Drawer */

.user-auth {
  text-align: center;
  color: #fff;
}

.user-auth .form-top,
.user-auth .form-option {
  font-size: 1.15em;
  line-height: 1.15em;
  position: relative;
  margin: 14px 0;
}

.user-auth .form-option:before,
.user-auth .form-option:after {
  border-top: 1px solid #ffffff;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 45%;
  z-index: 0;
}

.user-auth .form-option:before {
  left: auto;
  right: 0;
}

.user-auth .soc-btn {
  margin: 0 6px;
  transition: all .3s ease-in-out;
}

.user-auth .soc-btn,
.user-auth .soc-btn:focus,
.user-auth .soc-btn:active,
.user-auth .soc-btn:active:focus,
.user-auth .soc-btn:hover {
  color: #ffffff;
  text-align: left;
  outline: none;
}

.user-auth .soc-btn:hover {
  transform: scale(1.25);
}

.user-auth .soc-google {
  background-color: #dd4b39;
}

.user-auth .soc-facebook {
  background-color: #4c69ba;
}

.user-auth .soc-github {
  background-color: #010101;
}

.user-auth .soc-twitter {
  background-color: #1bb5e7;
}

.user-auth .field input.form-control {
  padding: 6px;
  outline: none;
  background-color: transparent !important;
  color: #fff !important;
  border: none;
  border-bottom: solid 2px #ffffff;
  border-radius: 0;
}

.user-auth .field input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #3d4046 inset;
  -webkit-text-fill-color: white !important;
}

.user-auth .local-forms {
  position: relative;
  overflow: hidden;
  height: 220px;
}

.user-auth form.local {
  width: 100%;
  transition: all .3s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.user-auth form.local.active {
  transform: translateY(0);
  visibility: visible;
}

.user-auth .field {
  padding: 0 12px 8px;
}

.user-auth .field input.form-control:focus {
  box-shadow: 0 0 0 1000px #3d4046 inset;
}

.user-auth .actions .btn-xs {
  margin-top: 6px;
  color: white;
}

.user-auth .actions .btn-xs:hover {
  color: white;
  text-decoration: underline;
}

.user-auth .terms {
  margin: 8px;
}

.user-auth .terms a {
  color: white;
}

/* Dashboard overview*/
.blocks {
  margin-bottom: 10px;
}

.blocks .block {
  border-radius: 1px;
  padding: 0 10px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.blocks .block:hover {
  border-color: #94c3ea;
}

.block .icon,
.block .caption {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.block .icon i {
  font-size: 32px;
  color: #31708f;
}

@media (min-width: 768px) and (max-width: 999px) {
  .tenants {
    display: none;
  }
  .block .icon {
    display: none;
  }
}

.block .caption h4 {
  margin-bottom: 2px;
}

.block .caption h6 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 14px;
  color: #777;
}

// Grid styles ... from APIGuru
#grid-wrapper {

  .panel {
    position: relative;
  }
  .panel-owner {

    float: left;
    width: 100%;
  }

  .options-menu {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 4px;
  }
  .options-menu:hover {
    padding-left: 32px;
  }
  .options-menu > span {
    padding: 5px;
    color: #333333;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .options-menu:hover > span {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-bottom: none;
  }

  .options-menu:hover > span:after {
    display: block;
    background-color: #ffffff;
    content: ' ';
    position: absolute;
    width: calc(100% - 34px);
    height: 6px;
    right: 1px;
    bottom: -1px;
    z-index: 1001;
  }

  .options-menu.open > span {
    background-color: rgba(0, 0, 0, 0.24);
    border: solid 1px rgba(0, 0, 0, 0.15);
  }

  .options-menu .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    margin-top: 0 !important;
    border-top-right-radius: 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    display: block !important;
    overflow: hidden;
    transform: translateY(-5%);
    opacity: 0;
    height: 0;
    border-top: none;
  }

  .options-menu:hover .dropdown-menu {
    transform: none;
    opacity: 1;
    height: auto;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
  }
  .options-menu .dropdown-menu a {
    color: $link_color;
  }

  .panel-heading {
    padding: 10px 25px 10px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
  }

  .panel-body-logo {
    height: 100px;
    vertical-align: middle;
    line-height: 90px;
    padding: 5px;
  }

  img.logo {
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }

  .panel-body-description {
    margin-top: 15px;
  }

  .line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }

  .line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
  }

  .footer-description {
    font-size: 0.8em;
    margin-bottom: 0.1em;
    color: #a2a2a2;
    ul {
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      padding: 0;
      list-style-type: none;
      li {
        display: inline;
        a {

        }
        &:not(:last-child) {
          &:after {
            content: ', ';
          }
        }

      }
    }
    .versions {
      overflow: auto;
      margin-top: 10px;
      font-size: 1.4rem;
      .pull-count {
        color: black;
      }
      .version {
        padding-left: 0;
        padding-right: 0;
        font-size: .9em;
        line-height: 1.8em;
        text-align: right;
        color: gray;
      }
    }

  }

  .versions > span {
    display: inline-block;
    vertical-align: middle;
  }

  .truncate {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .truncate a {
    display: inline-block;
  }
}

.dashboard .nav-icon {
  width: 48px;
  padding: 0 12px;
  text-align: center;
}

/*
 * Custom RailsAdmin styles
 ****************************/

#setup_scheduler_expression_field .inlined {
  display: inline-block !important;
  width: auto !important;
}

#setup_scheduler_expression_field #appointed #number a.btn {
  width: 56px;
}

#setup_scheduler_expression_field #appointed #number .scheduler-opts {
  padding-bottom: 6px;
}

#setup_scheduler_expression_field .label.top {
  color: #000;
  margin-top: 12px;
  max-width: 100%;
  position: relative;
  display: block;
  text-align: left;
}

#setup_scheduler_expression_field .scheduler_repeat {
  margin-top: 12px;
}

#setup_scheduler_expression_field.label.top .right {
  position: absolute;
  right: 15px;
}

#setup_scheduler_expression_field .scheduler-opts a.btn {
  transition: all .3s ease-in-out;
}

#hours_at .btn-group .btn {
  width: 36px;
  text-align: center;
}

#setup_scheduler_expression_field .btn-group .btn.day_in_month {
  min-width: 48px;
  text-align: center;
}

#setup_scheduler_expression_field .scheduler_repeat {
  margin-bottom: 12px;
}

#setup_scheduler_expression_field .scheduler_repeat .clearfix.bottom {
  padding-top: 6px;
}

#setup_scheduler_expression_field.selected-0 .visible-1,
#setup_scheduler_expression_field.selected-0 .visible-2,
#setup_scheduler_expression_field.selected-0 .visible-3,
#setup_scheduler_expression_field.selected-0 .visible-4,
#setup_scheduler_expression_field.selected-0 .visible-5,
#setup_scheduler_expression_field.selected-1 .visible-2,
#setup_scheduler_expression_field.selected-1 .visible-3,
#setup_scheduler_expression_field.selected-1 .visible-4,
#setup_scheduler_expression_field.selected-1 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-2 .visible-1,
#setup_scheduler_expression_field.selected-2 .visible-3,
#setup_scheduler_expression_field.selected-2 .visible-4,
#setup_scheduler_expression_field.selected-2 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-3 .visible-1,
#setup_scheduler_expression_field.selected-3 .visible-4,
#setup_scheduler_expression_field.selected-3 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-4 .visible-1,
#setup_scheduler_expression_field.selected-4 .visible-5 {
  display: none;
  visibility: collapse;
}

//#setup_scheduler_expression_field.selected-5 .visible-1,
//#setup_scheduler_expression_field.selected-5 .visible-2,
//#setup_scheduler_expression_field.selected-5 .visible-3,
//#setup_scheduler_expression_field.selected-5 .visible-4 {
//  display: none;
//  visibility: collapse;
//}

#setup_scheduler_expression_field.selected-0 .hidden-0 {
  display: none;
  visibility: collapse;
}

.toggle-origin {
  border: none;
  background-color: transparent;
}

.toggle-origin:focus, .toggle-origin:active:focus, .toggle-origin.active:focus {
  outline: none;
}

.notify-counter-link {
  border-radius: 500px;
  // position: relative;
  top: -10px;
  min-width: 4px;
  min-height: 4px;
  display: inline-block;
  font-size: 9px;

  &.green {
    background-color: green;
  }
  &.blue {
    background-color: blue;
  }
  &.orange {
    background-color: orange;
  }
  &.red {
    background-color: red;
  }
}

#action-notify {
  padding: 15px;
}

.dashboard, #actions-menu-list {
  .progress {
    margin-bottom: 0;
    float: left;
    width: 95%;
  }
  #links {
    float: right;
    > span {
      padding: 0 12px;
      color: #333333;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      position: absolute;
      right: 0;
    }
    &.options-menu {
      position: relative;
      overflow: visible;
      .dropdown-menu {
        right: 0 !important;
        left: auto !important;
        margin-top: 0 !important;
        border-top-right-radius: 0;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        display: block !important;
        overflow: hidden;
        transform: translateY(-5%);
        opacity: 0;
        height: 0;
        border-top: none;
        top: 20px;
      }
      &.open {
        > span {
          border-color: rgba(0, 0, 0, 0.15);
          background-color: #ffffff;
          border-bottom: none;
          z-index: 1002;
          &:after {
            display: block;
            background-color: #ffffff;
            content: ' ';
            position: absolute;
            width: calc(100% - 34px);
            height: 6px;
            right: 1px;
            bottom: -1px;
            z-index: 1001;
          }
        }
        .dropdown-menu {
          transform: none;
          opacity: 1;
          height: auto;
          border-top: solid 1px rgba(0, 0, 0, 0.15);
          margin-bottom: 25px;
          z-index: 1001;
          ul li {
            list-style-type: none;
          }
          a {
            color: $link_color;
          }
        }
      }
    }
  }
}

.wizard {
  li {
    padding: 15px;
    &.next {
      padding: 0;
      color: #3d4046;
      i {
        top: 10px;
        position: relative;
      }
    }
    &.done {
      color: black;
      font-weight: bold;
    }
    &.active {
      color: #5bc0de;
      font-weight: bold;
    }
    &.pending {
      color: gray;
    }
  }
  h6 {
    padding-left: 15px;
    margin-top: 30px;
    display: block;
  }

}

.filter_by_token > span span {
  padding-left: 3px;
}

#actions-menu-list {
  overflow: visible;
  width: 40px;
}

ul#more_actions a {
  color: $link_color;
}

.select2-container--bootstrap {
  width: 50% !important;
}

.select2-container--open .select2-dropdown--above {
  left: 0;
}

.tag {
  overflow: auto;
  span {
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
  }
}

body.rails_admin .form-horizontal.denser fieldset {
  margin-bottom: 30px;
}

.filters-buttons {
  overflow: visible;
  float: right;
  span {
    margin-left: 19px;
  }
  .dropdown {
    list-style-type: none;
    margin-left: 15px;
  }
}

#save_filters_button span {
  margin-left: 5px;
}

#list {
  .CodeMirror {
    height: auto;
  }
}

/*Origin toggles colors and table cell origin colors*/

$owner_color: #474dff; // 71,77,255
$owner_odd_color: rgba(71, 77, 255, .5);
$owner_even_color: rgba(91, 192, 222, .25);

$shared_color: #2b8050; // 43,128,80
$shared_odd_color: rgba(43, 128, 80, .5);
$shared_even_color: rgba(43, 128, 80, .25);

$cenit_color: darkorange; //255,140,0
$cenit_odd_color: rgba(255, 140, 0, .5);
$cenit_even_color: rgba(255, 140, 0, .25);

$admin_color: navy; // 0,0,128
$admin_odd_color: rgba(0, 0, 128, .5);
$admin_even_color: rgba(0, 0, 128, .25);

$tmp_color: #d9534f; //217,83,79
$temp_odd_color: rgba(217, 83, 69, .5);
$temp_even_color: rgba(217, 83, 69, 0.25);

.table-striped > tbody > tr.owner > td:first-child {
  background: $owner_odd_color;
}

.table-striped > tbody > tr.shared > td:first-child {
  background: $shared_odd_color;
}

.table-striped > tbody > tr.cenit > td:first-child {
  background: $cenit_odd_color
}

.table-striped > tbody > tr.tmp > td:first-child {
  background: $temp_odd_color
}

.table-striped > tbody > tr.admin > td:first-child {
  background: $admin_odd_color
}

.toggle-origin {
  &.owner {
    color: $owner_color;
  }
  &.shared {
    color: $shared_color;
  }
  &.admin {
    color: $admin_color;
  }
  &.cenit {
    color: $cenit_color;
  }
  &.tmp {
    color: $tmp_color;
  }
}

label {
  &.owner {
    color: $owner_color;
  }
  &.shared {
    color: $shared_color;
  }
  &.admin {
    color: $admin_color;
  }
  &.cenit {
    color: $cenit_color;
  }
  &.tmp {
    color: $tmp_color;
  }
}

.panel-shared {
  border-color: $shared_odd_color;
  > .panel-heading {
    background-color: $shared_even_color;
  }
}

.panel-owner {
  border-color: $owner_odd_color;
  > .panel-heading {
    background-color: $owner_even_color;
  }
}

.tenants {
  max-height: 380px;
  overflow-y: auto;
  li {
    margin: 3px 0;
    padding: 3px;
    &:hover {
      background: whitesmoke;
    }
    a {
      color: black;
      text-decoration: none;

    }
  }
}

#search_tenant {
  margin-bottom: 10px;
}

#collections {
  padding-left: 35px;
  .collection {
    .pic {
      display: inline-block;
      padding: 15px;
      background: #f5f5f5;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45), inset 0px 0px 1px 1px white;
      width: 75%;
      height: 122px;
      margin-top: 12px;
      border: 1px solid transparent;
      i {
        margin: auto;
        font-size: 18px;
        color: rgb(49, 112, 143);
      }
      img {
        width: 80%;
        max-height: 100%;
        margin: auto;
        &.no-image {
        }
      }
    }
  }
  a {
    &:hover {
      .pic {
        border: 1px solid rgb(148, 195, 234);
      }
    }
  }
}

// for graphics
.g-container {
  max-height: 485px;
  transition: all 0.5s ease;
  &.closed {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease;
  }
}

.graphics-area {
  margin: 25px 0;
}

.graphics-controls {
  padding: 15px;

}

.graphics-chart {
  overflow: scroll;
}

.btn .caret {
  margin-left: 2px;
}

.open > .dropdown-menu {
  display: block;
  z-index: 1002;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.cenit-oauth-basic-scope .basics-scopes {
  min-width: 234px;
}

.cenit-oauth-scope, .cenit-oauth-basic-scope, .model-tr {
  .select2-container--bootstrap {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .input-group {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .btn-danger {
    margin-left: 15px;
  }
  th {
    padding-bottom: 10px;
    color: #737373;
  }
  td {
    vertical-align: top;
  }
  .data-type-link {
    width: 178px;
    padding-top: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 15px;
  }
  hr {
    margin-top: 7px;
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: black;
    text-transform: uppercase;
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="read"] {
    color: white;
    background: $label-success-bg;
    border-color: $label-success-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="create"] {
    color: white;
    background: $label-info-bg;
    border-color: $label-info-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="delete"] {
    color: white;
    background: $label-danger-bg;
    border-color: $label-danger-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="update"] {
    color: white;
    background: $label-warning-bg;
    border-color: $label-warning-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }

}

.scope_at_index {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &:not(:last-child) {
        &:after {
          content: ', ';
          margin-right: 5px;
        }
      }
    }
  }
}

.scope-description li i {
  margin-left: 5px;
}

.api-info {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border: solid 1px #e3e3e3;
  div {
    word-wrap: break-word;
  }
  a {
    cursor: pointer;
  }
  .contact, .term-of-service, .license {
    a {
      white-space: normal;
    }
  }

}

.swagger-toolbar {
  margin: 15px -5px;
}

.api-details {
  h3 {
    max-width: 85%;
    margin-top: 0;
    span {
      color: gray;
    }
  }
  h5 {
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
    color: gray;
    span {
      font-weight: bold;;
    }
  }
  .categories-toolbar {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.contextual-record {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  text-decoration: none !important;

  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;

    &:after {
      font-family: FontAwesome;
      content: "\f00d";
      margin-left: 10px;
    }
  }
}

p.filter.form-search {
  position: relative;
}
.label-info a{
  color: white;
  text-decoration: none;
}

.api_guru_logo {
  span {
    color: black;
  }
  img {
    height: 39px;
    margin-left: 5px;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
  }
}