@import "bootstrap/bootstrap-tour.min";
@import "rails_admin/custom/github";
@import "rails_admin/custom/swagger";

body.rails_admin {
  padding-top: 55px!important;
}

.navbar-brand img {
  max-height: 100%;
  width: auto;
  padding-bottom: 4px;
}

ul#main-accordion{
  z-index: -2;
  .social-links{
    z-index: -1;
  }
}

.container-fluid {
  background: #3D4046;
}

#secondary-navigation .navbar-right {
  padding-left: 24px;
}

#tenant-nav li.dropdown a.dropdown-toggle,
#help-nav li.dropdown a.dropdown-toggle,
#user-nav li.dropdown a.dropdown-toggle {
  color: white;
}

#tenant-nav > li.dropdown.open > a,
#help-nav > li.dropdown.open > a,
#user-nav > li.dropdown.open > a {
  color: #3D4046;
}

a#sign-in-link, a#sign-out-link {
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0;
  background-color: #ea7400;
}

ul.root_links li a i{
  color: white;
}

a#sign-in-link:hover, a#sign-out-link:hover  {
  border-color: #ea7400;
  transition: .5s;
}

#tenant-nav .dropdown-menu,
#help-nav .dropdown-menu,
#user-nav .dropdown-menu {
  min-width: calc(100% + 4px);
}

#tenant-nav > li.dropdown.open > a,
#help-nav > li.dropdown.open > a,
#user-nav > li.dropdown.open > a {
  background-color: white;
  border-right: solid 1px rgba(0,0,0,0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#tenant-nav > li.dropdown.open > a:after,
#help-nav > li.dropdown.open > a:after,
#user-nav > li.dropdown.open > a:after {
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 6px;
  right: 0;
  bottom: -3px;
  z-index: 1001;
  background-color: white;
}

#tenant-menu,
#help-menu,
#user-menu {
  padding: 12px;
}

#tenant-menu .edit_user_root_link img,
#help-menu .edit_user_root_link img,
#user-menu .edit_user_root_link img {
  position: inherit;
  border: solid 1px rgba(0,0,0,0.15);
  border-radius: 50%;
}

#tenant-menu > li > a,
#help-menu > li > a,
#user-menu > li > a {
  padding: 3px;
}

.toggle-btn {
  color: white!important;
  background-color: transparent;
  padding: 2px 0 0;
  border-color: transparent;
  font-size: 24px;
  line-height: 100%;
  transition: all .1s ease-in-out;
  width: 40px;
}

.toggle-btn:active,
.toggle-btn:focus,
.toggle-btn:hover,
.toggle-btn:active:focus {
  outline: none;
  box-shadow: none;
}

.toggle-btn:hover {
  color: white!important;
  border-color: transparent;
  background-color: transparent;
  font-size: 28px;
  padding-top: 0;
}

#drawer-toggle i.fa,
#sidebar-toggle i.fa {
  transition: all 0.5s ease;
}

#sidebar-toggle.toggled i.fa {
  transform: rotate(180deg);
}

/* Search form styles */

#navbar-search input {
  transition: all .3s ease-in-out;
  height: 40px;
  margin-top: 7px;
  padding: 0;
  width: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: white;
}

#navbar-search.open input {
  width: 250px;
  padding: 6px;
  border-bottom: solid 2px white;
}

#navbar-search #search-toggle {
  margin: 0;
}

/* Nav Drawer styles*/

ul.drawer {
  display: block;
  position: fixed;
  top: calc(100% + 1px);
  left: 100%;
  width: 250px;
  height: calc(100vh - 100%);
  background-color: #3D4046;
  transition: all .5s ease-in-out;
  padding: 6px;
  margin: 0;
}

ul.drawer #sign-links,
ul.drawer #nav-links {
  overflow-y: auto;
  margin-bottom: 67px;
  height: calc(100% - 67px);
}

ul.drawer.open {
  transform: translateX(-250px);
}

ul.drawer li {
  display: block;
  padding: 1em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.75);
}

ul.drawer li.last {
  border-bottom: none;
}

ul.drawer li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

ul.drawer li a span {
  padding-left: 1em;
}

.social-links.absolute {
  position: absolute;
  width: calc(100% - 12px);
  bottom: 0;
  background-color: #3D4046;
}

.social-links a {
  display: inline-block;
  font-size: 24px !important;
  line-height: 32px;
  color: white;
}

/* Toggle styles*/

#wrapper {
  padding-left: 55px;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: 250px;
  width: 55px;
  height: calc(100% - 50px);
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background: #ffffff!important;
  border-right: solid 1px #e7e7e7!important;
}

#sidebar-wrapper .nav-caret,
#sidebar-wrapper .nav-caption {
  transition: opacity 0.5s ease;

  opacity: 0;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #sidebar-wrapper .nav-caret,
#wrapper.toggled #sidebar-wrapper .nav-caption {
  opacity: 1;
}

#wrapper #sidebar-wrapper:hover {
  width: 250px;
}
#wrapper #sidebar-wrapper:hover .nav-caret,
#wrapper #sidebar-wrapper:hover .nav-caption {
  opacity: 1;
}

#content-wrapper {
  width: 100%;
  overflow-x: hidden;
  background: #fff;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.xyz{
  min-width: 360px;
}

.fixed-brand{
  width: auto;
}

/*Sidebar styles*/

.sidebar-nav {
  position: absolute!important;
  top: 0!important;
  width: 250px;
  padding: 0;
  list-style: none;
  margin: 2px 0 44px;
  overflow-y: auto!important;
}

@media screen and (max-width: 280px) {
  .navbar-brand span.cenit-hub {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .navbar-header {
    width: 250px;
    padding: 0 6px;
  }
}

ul#main-accordion {
  padding: 6px;
}

.panel-heading {
  padding: 0;
}

.panel-heading>a {
  padding: 10px 0;
}

ul#main-accordion a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

ul#main-accordion .panel {
  border: 0;
  box-shadow: none;
  width: 100%;
}

ul#main-accordion>.panel>.panel-heading {
  border: solid 1px rgba(221, 221, 221, 0.87);
  border-radius: 4px;
}

ul#main-accordion>.panel .panel .panel-heading {
  background-color: rgba(0,0,0,0.065);
}

ul#main-accordion>.panel.active>.panel-heading {
  background-color: #d9edf7 !important;
  border-color: #bce8f1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
ul#main-accordion>.panel.active>.panel-heading a {
  color: #31708f !important;
}

ul#main-accordion .panel.active {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion>.panel.active .panel.active>.panel-heading {
  background-color: transparent;
}

ul#main-accordion a:hover,
ul#main-accordion a:focus,
ul#main-accordion a:active,
ul#main-accordion li.active>a {
  text-decoration: none;
}

ul#main-accordion div>a:hover,
ul#main-accordion li>a:hover,
ul#main-accordion li>a:focus,
ul#main-accordion li>a:active,
ul#main-accordion li.active>a {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion>.panel>.panel-collapse a,
ul#main-accordion>.panel>.panel-collapse>.panel>.panel-heading a {
  padding-left: 2rem;
}

ul#main-accordion>.panel>.panel-collapse>.panel li>a
 {
  padding-left: 4rem;
}

ul#main-accordion .nav-caret {
  float: right;
  margin-left: 1rem;
  margin-right: 12px;
}

ul#main-accordion .nav-amount {
  float: right;
  margin-left: 1rem;
  line-height: 1;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #d9edf7 !important;
  border: solid 1px #bce8f1;
  color: #31708f !important;
  font-weight: bold;
  font-size: 10.5px;
}

ul#main-accordion .nav-caret i {
  transition: transform 0.3s ease-in-out;
}

ul#main-accordion .panel.active>.panel-heading .nav-caret i {
  transform: rotate(180deg);
}

ul#main-accordion .panel-heading .nav-icon {
  width: 48px;
  padding: 0 12px;
  display: inline-block;
  text-align: center;
}

.social-links .cenit-llc {
  width: 100%;
}

#sidebar-wrapper .social-links {
  position: absolute;
  bottom: 0;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  padding: 12px;
}

#os-love {
  white-space: nowrap;
  overflow: hidden;
}

#os-love span {
  transition: all .5s ease-in-out;
  visibility: collapse;
  opacity: 0;
  max-width: 0;
  display: inline-block;
}

#sidebar-wrapper:hover #os-love span,
#wrapper.toggled #os-love span {
  transition: all .5s ease-in-out .05s;
  visibility: visible;
  opacity: 1;
  max-width: 100%;
}

/* Signin Drawer */

.user-auth {
  text-align: center;
  color: #fff;
}

.user-auth .form-top,
.user-auth .form-option {
  font-size: 1.15em;
  line-height: 1.15em;
  position: relative;
  margin: 14px 0;
}

.user-auth .form-option:before,
.user-auth .form-option:after {
  border-top: 1px solid #ffffff;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 45%;
  z-index: 0;
}

.user-auth .form-option:before {
  left: auto;
  right: 0;
}

.user-auth .soc-btn {
  margin: 0 6px;
  transition: all .3s ease-in-out;
}

.user-auth .soc-btn,
.user-auth .soc-btn:focus,
.user-auth .soc-btn:active,
.user-auth .soc-btn:active:focus,
.user-auth .soc-btn:hover {
  color: #ffffff;
  text-align: left;
  outline: none;
}

.user-auth .soc-btn:hover {
  transform: scale(1.25);
}

.user-auth .soc-google {
  background-color: #dd4b39;
}

.user-auth .soc-facebook {
  background-color: #4c69ba;
}

.user-auth .soc-github {
  background-color: #010101;
}

.user-auth .soc-twitter {
  background-color: #1bb5e7;
}

.user-auth .field input.form-control {
  padding: 6px;
  outline: none;
  background-color: transparent!important;
  color: #fff!important;
  border: none;
  border-bottom: solid 2px #ffffff;
  border-radius: 0;
}

.user-auth .field input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #3d4046 inset;
  -webkit-text-fill-color: white !important;
}

.user-auth .local-forms {
  position: relative;
  overflow: hidden;
  height: 220px;
}

.user-auth form.local {
  width: 100%;
  transition: all .3s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.user-auth form.local.active {
  transform: translateY(0);
  visibility: visible;
}

.user-auth .field {
  padding: 0 12px 8px;
}

.user-auth .field input.form-control:focus {
  box-shadow: 0 0 0 1000px #3d4046 inset;
}

.user-auth .actions .btn-xs {
  margin-top: 6px;
  color: white;
}

.user-auth .actions .btn-xs:hover {
  color: white;
  text-decoration: underline;
}

.user-auth .terms {
  margin: 8px;
}

.user-auth .terms a {
  color: white;
}

/* Dashboard overview*/
.blocks {
  margin-bottom: 10px;
}

.blocks .block {
  border-radius: 1px;
  padding: 0 10px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.blocks .block:hover {
  border-color: #94c3ea;
}

.block .icon,
.block .caption {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.block .icon i {
  font-size: 32px;
  color: #31708f;
}

@media (min-width: 768px) and (max-width: 999px) {
  .block .icon {
    display: none;
  }
}

.block .caption h4 {
  margin-bottom: 2px;
}

.block .caption h6 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 14px;
  color: #777;
}

// Grid styles ... from APIGuru
#grid-wrapper .panel {
  position: relative;
}

#grid-wrapper .options-menu {
  position: absolute;
  z-index: 999;
  top: 4px;
  right: 4px;
}

#grid-wrapper .options-menu:hover {
  padding-left: 32px;
}

#grid-wrapper .options-menu > span {
  padding: 5px;
  color: #333333;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#grid-wrapper .options-menu:hover > span {
  border-color: rgba(0,0,0,0.15);
  background-color: #ffffff;
  border-bottom: none;
}

#grid-wrapper .options-menu:hover > span:after {
  display: block;
  background-color: #ffffff;
  content: ' ';
  position: absolute;
  width: calc(100% - 34px);
  height: 6px;
  right: 1px;
  bottom: -1px;
  z-index: 1001;
}

#grid-wrapper .options-menu.open > span {
  background-color: rgba(0,0,0,0.24);
  border: solid 1px rgba(0,0,0,0.15);
}

#grid-wrapper .options-menu .dropdown-menu {
  right: 0!important;
  left: auto!important;
  margin-top: 0!important;
  border-top-right-radius: 0;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  display: block!important;
  overflow: hidden;
  transform: translateY(-5%);
  opacity: 0;
  height: 0;
  border-top: none;
}

#grid-wrapper .options-menu:hover .dropdown-menu {
  transform: none;
  opacity: 1;
  height: auto;
  border-top: solid 1px rgba(0,0,0,0.15);
}

#grid-wrapper .options-menu .dropdown-menu a {
  color: #428bca;
}

#grid-wrapper .panel-heading {
  padding: 10px 25px 10px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

#grid-wrapper .panel-body-logo {
  height: 100px;
  vertical-align: middle;
  line-height: 90px;
  padding: 5px;
}

#grid-wrapper img.logo {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

#grid-wrapper .panel-body-description {
  margin-top: 15px;
}

#grid-wrapper .line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0!important;
}

#grid-wrapper .line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.2 * 3);
}

#grid-wrapper .footer-description {
  font-size: 0.8em;
  margin-bottom: 0.1em;
  color: #a2a2a2;
}

#grid-wrapper .versions > span {
  display: inline-block;
  vertical-align: middle;
}

#grid-wrapper .truncate {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#grid-wrapper .truncate a {
  display: inline-block;
}

.dashboard .nav-icon {
  width: 48px;
  padding: 0 12px;
  text-align: center;
}

/*
 * Custom RailsAdmin styles
 ****************************/

#setup_scheduler_expression_field .inlined {
  display: inline-block !important;
  width: auto !important;
}

#setup_scheduler_expression_field #appointed #number a.btn {
  width: 56px;
}

#setup_scheduler_expression_field #appointed #number .scheduler-opts {
  padding-bottom: 6px;
}

#setup_scheduler_expression_field .label.top {
  color: #000;
  margin-top: 12px;
  max-width: 100%;
  position: relative;
  display: block;
  text-align: left;
}

#setup_scheduler_expression_field .scheduler_repeat {
  margin-top: 12px;
}

#setup_scheduler_expression_field.label.top .right {
  position: absolute;
  right: 15px;
}

#setup_scheduler_expression_field .scheduler-opts a.btn {
  transition: all .3s ease-in-out;
}

#hours_at .btn-group .btn {
  width: 36px;
  text-align: center;
}

#setup_scheduler_expression_field .btn-group .btn.day_in_month {
  min-width: 48px;
  text-align: center;
}

#setup_scheduler_expression_field .scheduler_repeat {
  margin-bottom: 12px;
}

#setup_scheduler_expression_field .scheduler_repeat .clearfix.bottom {
  padding-top: 6px;
}

#setup_scheduler_expression_field.selected-0 .visible-1,
#setup_scheduler_expression_field.selected-0 .visible-2,
#setup_scheduler_expression_field.selected-0 .visible-3,
#setup_scheduler_expression_field.selected-0 .visible-4,
#setup_scheduler_expression_field.selected-0 .visible-5,
#setup_scheduler_expression_field.selected-1 .visible-2,
#setup_scheduler_expression_field.selected-1 .visible-3,
#setup_scheduler_expression_field.selected-1 .visible-4,
#setup_scheduler_expression_field.selected-1 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-2 .visible-1,
#setup_scheduler_expression_field.selected-2 .visible-3,
#setup_scheduler_expression_field.selected-2 .visible-4,
#setup_scheduler_expression_field.selected-2 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-3 .visible-1,
#setup_scheduler_expression_field.selected-3 .visible-4,
#setup_scheduler_expression_field.selected-3 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-4 .visible-1,
#setup_scheduler_expression_field.selected-4 .visible-5 {
  display: none;
  visibility: collapse;
}

//#setup_scheduler_expression_field.selected-5 .visible-1,
//#setup_scheduler_expression_field.selected-5 .visible-2,
//#setup_scheduler_expression_field.selected-5 .visible-3,
//#setup_scheduler_expression_field.selected-5 .visible-4 {
//  display: none;
//  visibility: collapse;
//}

#setup_scheduler_expression_field.selected-0 .hidden-0 {
  display: none;
  visibility: collapse;
}


.toggle-origin {
  border: none;
  background-color: transparent;
}

.toggle-origin:focus, .toggle-origin:active:focus, .toggle-origin.active:focus {
  outline: none;
}