.flex.full-v-width.full-v-height.justify-content-center.align-items-center
  .flex.column.align-items-center.devise.box
    .logo
    .access-requested
      .label
        = 'Bad request'
      .action-description
        %ul
          - @errors.each do |error|
            %li
              = error
