- if @output
  %fieldset
    #algorithm_output.form-group.control-group
      %label.col-sm-2.control-label
        = 'Output'
      .controls.col-sm-10
        - if @object.last_output
          %table.table.table-condensed.table-striped
            %tbody
              %tr{class: 'even'}
                %td
                  %span.show= @object.last_output.records_count
                %td.last.links
                  %ul.inline.list-inline= menu_for :member, RailsAdmin::Config.model(Setup::AlgorithmOutput).abstract_model, @object.last_output, true

        - else
          %textarea.form-control{wrap: 'soft', readonly: 'true', cols: 100, rows: 5}
            = @output