%div{style: 'display: inline;position: relative'}
  %i.fa.fa-sitemap{style: '-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg)'}
  %i.fa.fa-sitemap{style: '-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);position: absolute;left: 46%;top:5%'}
