.container
  .row
    .col-md-offset-1.col-md-10
      #tabs-option
        .row.header
          %h3= 'Development Services for Custom Business Integration'
        .row
          .col-sm-12
            %ul.nav.nav-tabs{role: 'tablist'}
              %li.active{role:'presentation'}
                = link_to 'Enterprises','enterprises', data: {'toogle': 'tab'}, 'aria-controls'=> 'enterprises', role: 'tab'
              %li{role:'presentation'}
                = link_to 'Enterprises','enterprises', data: {'toogle': 'tab'}, 'aria-controls'=> 'enterprises', role: 'tab'
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>