%h4
  = t('admin.actions.confirmation.are_you_sure')
.form-actions
  %button.btn.btn-danger{type: 'submit', name: confirmation_name, :'data-disable-with' => t('admin.form.confirmation')}
    %i.icon-white.icon-ok
    = t('admin.form.confirmation')
  %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t("admin.form.cancel")}
    %i.icon-remove
    = t('admin.form.cancel')
