%h4.text-danger= t('admin.actions.pull.not_installed')
.fieldset
  .control-group
    %label.col-sm-2.control-label= t('admin.actions.pull.install')
    .col-sm-10.controls
      %input{type: 'checkbox', name: 'install', disabled: !User.current_installer?}
      %p.help-block
        - if User.current_installer?
          = t('admin.actions.pull.install_help')
        - else
          = t('admin.actions.pull.not_installer')