-if @dashboard_group_ref
  - #Group Dashboard or Subdomain Dashboard
  - if @abstract_models
    .dashboard{'data-model-count': 0}
      = dashboard_main
-else
  -# Home Page or General Dahsboard
  = render partial: 'rails_admin/main/new_home'