-if @dashboard_group_ref
  - #Group Dashboard or Subdomain Dashboard
  - if @abstract_models
    .dashboard{'data-model-count': 0}
      .row
        - dashboard_data.each_with_index do |d,index|
          = render partial: 'rails_admin/main/widget_dashboard', locals: {d: d, index: index}
-else
  -# Home Page or General Dahsboard
  = render partial: 'rails_admin/main/new_home'