= rails_admin_form_for @object, url: edi_export_path(params.merge(bulk_ids: @bulk_ids)), html: { multipart: true, class: "form-horizontal denser", data: { title: 'Hello'} } do |form|
  = form.generate nested_in: true

  .form-actions
    %button.btn.btn-primary{type: 'submit', name: '_save', :'data-disable-with' => t('admin.actions.edi_export.submit')}
      %i.icon-download
      = t('admin.actions.edi_export.submit')
    %span.extra_buttons
      %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t('admin.form.cancel')}
        %i.icon-remove
        = t('admin.form.cancel')
