= rails_admin_form_for @object, url: edit_translator_path(@abstract_model, @object.id), as: @abstract_model.param_key, html: { method: "put", multipart: true, class: "form-horizontal denser", data: { title: @page_name } } do |form|
  = form.generate action: :update, nested_in: true

  %input{type: :hidden, name: 'return_to', value: (params[:return_to].presence || request.referer)}
  .form-actions
    %button.btn.btn-primary{type: "submit", name: "_save", :'data-disable-with' => t("admin.form.save")}
      %i.icon-white.icon-ok
      = t("admin.form.save")
    %span.extra_buttons
      %button.btn{type: "submit", name: "_continue", :'data-disable-with' => t("admin.form.cancel")}
        %i.icon-remove
        = t("admin.form.cancel")