= rails_admin_form_for @object, url: import_schema_path, html: { multipart: true, class: "form-horizontal denser"} do |form|
  = form.generate nested_in: true

  .form-actions
    %button.btn.btn-primary{type: 'submit', name: '_save', :'data-disable-with' => t('admin.actions.import_schema.submit')}
      %i.icon-upload
      = t('admin.actions.import_schema.submit')
    %span.extra_buttons
      %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t('admin.form.cancel')}
        %i.icon-remove
        = t('admin.form.cancel')
