<ul class="nav nav-tabs tabs-left">
  <li class="active"><a data-toggle="tab" href="#curl">cURL</a></li>
  <li><a data-toggle="tab" href="#php">PHP</a></li>
</ul>

<div class="tab-content">
  <div id="curl" class="tab-pane fade in active">
    <%= render :partial => 'rails_admin/rest_api_sdk/code', :locals => { lang: 'curl' } %>
  </div>
  <div id="php" class="tab-pane fade">
    <%= render :partial => 'rails_admin/rest_api_sdk/code', :locals => { lang: 'php' } %>
  </div>
</div>

<script type="text/javascript">
  $('.copy-to-clipboard').each(function (idx, el) {
    new Clipboard(el);
  });
</script>