= rails_admin_form_for @upload_file, url: upload_file_path, html: { multipart: true, class: "form-horizontal denser"} do |form|
  = form.generate action: :create

  .form-actions
    %button.btn.btn-primary{type: 'submit', name: '_upload', :'data-disable-with' => t('admin.actions.upload_file.submit')}
      %i{class: @action.try(:link_icon)}
      = t('admin.actions.upload_file.submit')
    %span.extra_buttons
      %button.btn{type: 'submit', name: '_continue', :'data-disable-with' => t('admin.form.cancel')}
        %i.icon-remove
        = t('admin.form.cancel')