@import "rails_admin/custom/home/mixins";
// Home Vars

$home_blue: #5bc0de;
/* roboto font */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
/* source sans pro */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/* lato */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* merriweather */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);

$roboto: "Roboto";
$lato: 'Lato', 'Helvetica Neue', Arial;
$helvetica: "Helvetica Neue", Helvetica, Arial;
$myriad: Myriad Pro, Lato, Helvetica Neue, Arial;
$sourceSans: Source Sans Pro, Helvetica Neue, Arial;
$merriweather: "Merriweather", Georgia;

@keyframes submenu-show {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slide {
  .from-right {
    -webkit-transition: all .45s .3s ease-in-out;
    transition: all .45s .2s ease-in-out;
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    backface-visibility: hidden;
  }
  &.active {
    .from-right {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

#home_page {
  .rounded {
    padding: 36px 26px;
    background: white;
    color: #5396ff;
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    border-radius: 50%;
    border: solid 19px rgba(83, 150, 255, 0.48);
    transition: all .3s;

    &.second {
      padding: 36px 16px;
    }
    &.third {
      padding: 36px 23px;
    }
    &:hover {
      background: #5396ff;
      color: white;
      border-color: whitesmoke;
      cursor: pointer;
    }
    &.active {
      background: #5396ff;
      color: white;
      border-color: whitesmoke;
      cursor: pointer;
    }
  }
  .comment-container {
    display: none;
    position: relative;
    margin-top: 15px;
    span {
      width: 15px;
      border-bottom: solid 2px white;
      position: absolute;
      left: 157px;
      top: -5px;
      display: inline-block;
      padding: 5px;
    }
    i {
      position: absolute;
      font-size: 32px;
      top: -15px;
      color: #5396ff;
      left: 155px;
    }
    div {
      padding: 25px;
      background: white;
      border: solid 2.5px #5396ff;
      margin: 5px;
      border-radius: 13px;
      color: gray;
      text-align: left;
      line-height: 1.8em;
      h1 {
        font-size: 16px;
        font-weight: bold;
        color: #5396ff;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
    }
    &.active {
      display: block;
    }
    &.second {
      span {
        left: 494px;
      }
      i {

        left: 491px;
      }
    }
    &.third {
      span {
        left: 830px;
      }
      i {
        left: 826px;
      }
    }
  }

  #home_content {
    margin-top: 0;
  }

  .top-bar {
    background: whitesmoke;
    ul {
      padding: 5px 0;
      margin: 0;
      display: inline-block;
      li {
        list-style-type: none;
        display: inline-block;
        a {
          margin-top: 5px;
          margin-right: 18px;
          margin-bottom: 5px;
          transition: color .3s;
          color: #606975;
          font-size: 13px;
          text-decoration: none;
          vertical-align: middle;
          cursor: pointer;
          &:hover {
            color: #4c8bff !important;
          }
          &:focus {
            color: #4c8bff !important;
          }
          &.top-btn {
            font-weight: bold;
            &.blue {
              color: #4c8bff;
              &:hover {
                color: black !important;
              }
              &:focus {
                color: black !important;
              }
            }
          }
        }
      }
    }
  }

  .navbar-inverse {
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    .container {
      width: 970px;
    }
  }

  .cenit-logo {
    display: inline-block;
    position: relative;
    top: -4px;
    img {
      height: 30px;
    }
  }

  .cenit-hub {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    top: -9px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  .navbar-inverse .navbar-nav > li {
    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      margin-top: -7px !important;
      padding: 15px !important;
      border: 1px solid #e1e7ec;
      border-radius: 5px;
      background-color: #fff;
      line-height: 1.5;
      list-style-type: none;
      z-index: 1000;
      li {
        padding: 8px;
        line-height: 1;
        &:first-child {
          padding-top: 0;
        }
        &:hover {
          a {
            color: #4c8bff !important;
          }
        }
        a {
          color: gray;
          transition: color .3s;
          text-decoration: none;
        }
      }

    }
    > a {
      color: white;
      transition: color .3s;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      &:hover {
        color: $home_blue;

      }

    }
    &:hover {
      > .sub-menu {
        display: block;
        -webkit-animation: submenu-show 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation: submenu-show 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }

  .button {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 13px 32px;
    font-weight: 400;
    font-size: 17px;
    color: #fff !important;
    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
    border: 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.88) 0px 1px 3px -1px;
    background-color: #4589E3;
    @include background-gradient(#5DA4FF, #417BFF);

    @include h_transition(all 0.2s linear);

    &:hover {
      color: #fff;
      text-decoration: none;
    }
    &:active {
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.29);
    }

    &.button-small {
      padding: 10px 33px;
      border: 1px solid #68A2EE;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .button-outline {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #fff;
    padding: 12px 31px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    @include h_transition(all 0.2s linear);

    &:hover {
      text-decoration: none;
      color: #ddd;
      border-color: #ddd;
    }
  }

  .navbar-nav .button {
    padding: 8px 18px;
    font-size: 13px;
    position: relative;
    top: 7px;
  }

  #slides {
    background: white;
    height: 400px;
    position: relative;

    @media (max-width: 991px) {
      padding-top: 0;
    }

    @media (max-width: 767px) {
      height: 400px;
    }

    /* prev & next arrows */
    .slide-nav {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 140px;
      z-index: 200;
      text-indent: 100%;
      overflow: hidden;
      opacity: 0;
      filter: alpha(opacity=50);
      @include transition(opacity .2s linear);
      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      &.prev {
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 19px;
          height: 58px;
          background: image_url("slide-arrow.png") no-repeat;
          left: 30px;

          @include transform(rotate(180deg));
        }
      }
      &.next {
        right: 0;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 19px;
          height: 58px;
          background: image_url("slide-arrow.png") no-repeat;
          right: 30px;
        }
      }
    }

    /* navigation dots */
    nav {
      z-index: 999;
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: rgba(162, 162, 162, 0.31);
        border-radius: 50%;
        margin: 0 3px;

        &.active {
          background: #fff;
        }
      }
    }

    /* slides */
    .slides {
      overflow: hidden;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;

      /* each slide */
      .slide {
        display: none;
        z-index: 80;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 0;

        &.active {
          opacity: 1;
          filter: alpha(opacity=100);
          display: block;
          z-index: 100;
        }
        &.next {
          .bg {
            @media(min-width: 768px) {
              @include animation(slideLeft 700ms linear);
            }
          }
          z-index: 90;
        }

        .container {
          position: relative;
          z-index: 3;
          height: 100%;
        }

        .bg {
          position: absolute;
          top: 0;
          left: -15px;
          width: 102%;
          height: 100%;
          background-position: center center;
          background-size: cover;

          @media(max-width: 767px) {
            left: 0px;
          }

          &:before {
            position: absolute;
            top: 10%;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.25)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.25) 100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.25));
            background: -o-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.25));
            background: linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.25));*/
          }
          &:after {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            left: 0;
            width: 100%;
            top: 0;
          }
        }

        &.first {
          @media(max-width: 767px) {
            padding-top: 50px;
          }

          .bg {
            background-image: image_url("home/bg_sky");
            background-position: center 18%;

            &:after {
              //background: rgba(52, 52, 58, 0.6);
            }
          }
          img.spiral {
            position: absolute;
            top: -122px;
            z-index: 1;
            right: -34px;
          }
          .info {
            h1.hero-text {
              margin-top: 70px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 36px;
              letter-spacing: 1.2px;
              font-weight: bold;
              color: #fff;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
              text-align: center;

              @media (max-width: 767px) {
                font-size: 28px;
                text-align: center;
              }
            }

            p {
              color: #3d4046;
              font-family: "Lato", "Helvetica Neue", Arial;
              margin-top: 15px;
              font-size: 18px;
              text-align: center;
              padding: 0 10%;
            }

            .cta {
              @include animationDelay(0.6s);
              margin-top: 40px;
              text-align: center;

              a {
                position: relative;
                margin: 0px 30px 0 0;
                padding: 10px 32px;
                letter-spacing: 1px;
                font-family: "Lato", "Helvetica Neue", Arial;
                text-transform: uppercase;
                border: 1px solid rgba(255, 255, 255, 0.8);
                background: #5396ff;
                font-size: 14px;
                font-weight: bold;

                &:hover {
                  color: #252525;
                  background: #fff;
                  padding-right: 45px;

                  .fa {
                    opacity: 1;
                  }
                }

                .fa {
                  opacity: 0;
                  font-size: 13px;
                  position: absolute;
                  color: #252525;
                  top: 14px;
                  right: 20px;

                  @include transition(all 0.15s linear);
                }

                @media (max-width: 767px) {
                  font-size: 14px;
                  padding: 12px 25px;
                  margin: 0px 15px 15px 0px;
                }
              }
            }
          }

          .mobiles {
            img {
              display: block;
              margin: 0 auto;
              margin-top: 75px;
              -webkit-animation-duration: 1.2s;
              -moz-animation-duration: 1.2s;
              -o-animation-duration: 1.2s;
              animation-duration: 1.2s;
            }
          }
        }

        &.second {
          @media(max-width: 767px) {
            padding-top: 40px;
          }

          .bg {
            background-image: image_url("home/bg_sky");
            /*background-image: url('http://24.media.tumblr.com/899355a7363be380170ecfcbdc9744d7/tumblr_myp93odkni1st5lhmo1_1280.jpg');*/
            //background-image: url('http://farm4.staticflickr.com/3758/9011116378_32e56983e3_b.jpg');
            background-position: center 29%;

            &:after {
              //background: rgba(5, 11, 29, 0.55);
            }
          }

          h1.hero-text {
            text-align: center;
            font-family: $lato, Helvetica, "Helvetica Neue", Arial, sans-serif;
            font-size: 37px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
            text-transform: uppercase;
            @media (max-width: 767px) {
              font-size: 25px;
            }
          }
          h2 {
            text-shadow: 15px 1px 15px #b5b2a6;
            color: #222222;
            span {
              font-weight: bold;
            }
          }
          img {
            width: 413px;
            margin: auto;
            margin-top: 35px;
            margin-bottom: 35px;
          }
          .button-outline {
            position: absolute;
            top: 334px;
            right: 396px;
            background: #06223c;
          }
          .sub-text {
            -webkit-font-smoothing: antialiased;
            @include animationDelay(0.6s);
            margin: 0 auto;
            font-family: $lato;
            line-height: 29px;
            margin-top: 25px;
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 17px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            width: 50%;

            @media (max-width: 991px) {
              width: 70%;
            }

            @media (max-width: 767px) {
              font-size: 15px;
            }
          }

        }

        &.third {
          padding-top: 115px;

          @media(max-width: 767px) {
            padding-top: 50px;
          }

          .bg {
            background-image: image_url("home/bg_sky");
            //background-image: url('http://farm6.staticflickr.com/5267/5783999789_9d06e5d7df_b.jpg');
            background-position: center 15%;

            &:after {
              //background: rgba(3, 9, 27, 0.5);
            }
          }

          h1, .sub-text {
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            -o-animation-duration: 1s;
            animation-duration: 1s;
          }

          h1.hero-text {
            text-align: center;
            font-family: $roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
            font-size: 38px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);

            @media (max-width: 767px) {
              font-size: 28px;
            }
          }
          .cloud_services {
            position: relative;
            i {
              position: absolute;
              z-index: 1;
              &.fa-google {
                top: 188px;
                z-index: 1;
                font-size: 81px;
                color: #ec5a2c;
                right: 56px;
              }
              &.fa-github {
                top: 89px;
                font-size: 93px;
              }
              &.fa-facebook {
                font-size: 76px;
                top: 35px;
                left: 240px;
                color: #3F51B5;
              }
              &.fa-twitter {
                font-size: 100px;
                top: 35px;
                left: 120px;
                color: orange;
              }
              &.fa-amazon {
                font-size: 71px;
                top: 130px;
                left: 278px;
                color: green;
              }
              &.fa-dropbox {
                font-size: 71px;
                top: 183px;
                left: 79px;
                color: brown;
              }
            }
            i.fa-cloud {
              position: relative;
              font-size: 329px;
              color: white;
              right: 0;
              top: -33px;
            }
          }
          .sub-text {
            -webkit-font-smoothing: antialiased;
            margin: 0 auto;
            margin-top: 25px;
            text-align: center;
            color: #222222;
            font-weight: bold;
            font-size: 27px;
            text-shadow: 1px 1px 1px rgb(255, 255, 255);

            @media (max-width: 991px) {
              width: 70%;
            }

            @media (max-width: 767px) {
              font-size: 15px;
            }
          }
          .cta {
            @include animationDelay(0.6s);
            text-align: center;
            margin-top: 60px;
            a {
              margin: 0px 20px;

              @media (max-width: 767px) {
                font-size: 14px;
                padding: 12px 25px;
                margin: 0px 15px 15px 0px;
              }
            }
          }
        }
      }

    }

    &:hover {
      .slide-nav {
        opacity: 0.5;
      }
    }

  }

  #cenit {
    .header {
      text-align: center;
      h2 {
        color: #555;
        font-weight: 300;
        font-size: 28px;

        @media (max-width: 767px) {
          font-size: 25px;
        }
      }
      p {
        font-weight: 300;
        font-size: 17px;
        color: #757575;
      }
    }
    .feature {
      margin-top: 15px;
      -webkit-font-smoothing: antialiased;

      @media (min-width: 992px) {
        &.backwards {
          .info {
            float: right;
          }
          .image {
            float: left;
            img {
              margin: 0 auto;
            }
          }
        }
      }

      @media (max-width: 991px) {
        margin-top: 10px;
      }

      .info {
        h4 {
          color: #3B88B6;
          font-weight: bold;
          font-size: 19px;
          line-height: 25px;
          margin-top: 35px;

          @media (max-width: 991px) {
            text-align: center;
          }
        }
        p {
          color: #6C7279;
          font-size: 14px;
          margin-top: 20px;
          line-height: 24px;
          width: 83%;
          font-weight: normal;

          @media (max-width: 991px) {
            text-align: center;
            width: 100%;
            font-size: 14px;
          }
        }
      }
      .image {
        position: relative;
        @media (max-width: 991px) {
          img {
            margin: 0 auto !important;
            margin-top: 20px;
          }
        }
        img {
          &.apis_guru {
            position: absolute;
            top: 61px;
            left: 47px;
          }
        }
      }
    }
    .divider {
      height: 1px;
      width: 100%;
      background-color: #ddd;
      position: relative;
      margin: 70px 0 60px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
      }

      @media (max-width: 991px) {
        margin: 55px 0 35px;
      }
    }
  }

  section {
    padding: 55px 0;
    &:first-child {
      padding-bottom: 0;
      padding-top: 0;
    }
    &:nth-child(odd) {
      background: rgba(245, 245, 245, 0.61);
    }
    &:nth-child(even) {

      background: white;
    }
  }

  .header {
    text-align: center;
    margin-bottom: 35px;

    h3 {
      font-size: 24px;
      color: #444;
      line-height: 25px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 0;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #444;
    }
  }

  #services {
    #tabs {

      -webkit-font-smoothing: antialiased;
      .tabs-wrapper {
        .nav-tabs {
          text-align: center;
          border-bottom: none;

          @media(max-width: 991px) {
            display: none;
          }

          li {
            float: none;
            display: inline-block;
            &.active {
              a {
                color: #2B69A2;
                font-weight: 400;
                border-bottom: 0px;
                &:after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: auto;
                  border-bottom: 2px solid #7BA3C9;
                  left: 1px;
                  bottom: -1px;
                }
              }
            }
            a {
              color: #888;
              font-weight: 400;
              border: 0px;
              padding: 10px 20px;
              font-size: 15px;
              @include transition(color 0.25s linear);
              &:hover {
                color: #2B69A2;
                background: none;
              }
            }
          }
        }
        .tab-content {
          .tab-pane {
            @media(max-width: 991px) {
              display: block !important;
              opacity: 1;
              filter: alpha(opacity=100);
              height: auto;
              text-align: center;
            }
            .info {
              @media(max-width: 991px) {
                margin-bottom: 35px;
              }

              p {
                color: #6C7279;
                font-size: 15px;
                margin-top: 20px;
                line-height: 24px;
                font-weight: normal;
              }
            }
            .image {
              img {
                display: inline-block;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }

  #integrations {
    #showcase {
      margin-top: 25px;
      -webkit-font-smoothing: antialiased;
      .filtering {
        margin-top: 35px;
        margin-bottom: 35px;
        #filters {
          padding-left: 20px;
          text-align: center;
          border-bottom: 2px solid #EDEDED;

          @media(max-width: 767px) {
            display: none;
          }

          li {
            list-style-type: none;
            display: inline-block;
            margin: 0px 8px;
            &:first-child {
              margin-left: 0px;
            }
            a {
              color: #888;
              font-weight: 400;
              border: 0px;
              padding: 10px 22px;
              font-size: 16px;
              position: relative;
              @include transition(color 0.25s linear);

              &.active {
                color: #2B69A2;
                font-weight: 400;
                border-bottom: 0px;
                display: inline-block;
                &:after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: auto;
                  border-bottom: 2px solid #7BA3C9;
                  left: 1px;
                  bottom: -2px;
                }
              }

              &:hover {
                color: #2B69A2;
                background: none;
                text-decoration: none;
              }
            }
          }
        }
      }
      .gallery_container {
        overflow: visible !important;
      }
      .pic {
        margin-bottom: 40px;
        position: relative;
        display: block;
        @include transition(.5s cubic-bezier(.25, 1.45, .51, 1.13));

        &.fluidbox-opened:hover {
          .layer {
            background: rgba(0, 0, 0, 0);
            p {
              opacity: 0;
              filter: alpha(opacity=0);
            }
          }
        }

        &:hover {
          /*@include transform(scale(1.12));*/
          text-decoration: none;

          .layer {
            background: rgba(33, 33, 33, .8);
            p {
              margin-top: -20px;
              opacity: 1;
              filter: alpha(opacity=100);
            }
          }
        }
        .layer {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 9;
          top: 0px;
          left: 0px;
          background: rgba(0, 0, 0, 0);
          @include transition(all 0.25s ease-out);

          p {
            transition: margin-top .35s ease-out, opacity .55s ease-out;
            color: #fff;
            font-size: 15px;
            text-align: center;
            top: 50%;
            width: 100%;
            position: absolute;
            font-weight: 600;
            margin-top: 25px;
            opacity: 0;
            filter: alpha(opacity=0);

            span {
              position: relative;
              top: 1px;
              margin-right: 2px;
            }
          }
        }
        img {
          margin: 0 auto;
        }
      }
      a.thumbnail {
        border: none;
        img {
          filter: grayscale(100%);
        }
        &:hover {
          img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  .features {
    margin-bottom: 20px;
    .feature {

      @media(max-width: 991px) {
        text-align: center;
        margin-bottom: 30px;
      }

      img {
        max-width: 40px;
        position: relative;
        top: 10px;

        @media(min-width: 992px) {
          float: left;
        }
      }
      .info {
        @media(min-width: 992px) {
          float: left;
          width: 80%;
          margin-left: 20px;
        }
        strong {
          display: block;
          font-weight: bold;
          font-size: 16px;
          color: #579bff;
          margin-top: 15px;
          padding-bottom: 7px;
          border-bottom: solid 1px #61bbfa;
          i {
            color: white;
            font-size: 1.5em;
            margin-right: 13px;
            text-shadow: 1px 1px 1px #4a89ff;
          }
        }
        p {
          font-weight: normal;
          font-size: 14px;
          color: #797979;
          margin-top: 10px;
          line-height: 24px;
        }
      }
    }
  }

  #features {
    #grid-second {
      @media(max-width: 991px) {
        margin-top: 50px;
      }
      .features {
        margin-bottom: 20px;
        .feature {

          @media(max-width: 991px) {
            text-align: center;
            margin-bottom: 30px;
          }

          img {
            max-width: 40px;
            position: relative;
            top: 10px;

            @media(min-width: 992px) {
              float: left;
            }
          }
          .info {
            @media(min-width: 992px) {
              float: left;
              width: 80%;
              margin-left: 20px;
            }
            strong {
              display: block;
              font-weight: bold;
              font-size: 16px;
              color: black;
              margin-top: 15px;
              padding-bottom: 7px;
              border-bottom: none;
            }
            p {
              font-weight: normal;
              font-size: 14px;
              color: #797979;
              margin-top: 10px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  #pricing {
    #first-option {
      -webkit-font-smoothing: antialiased;
      .charts {
        .chart {
          background-color: #fff;
          border: 1px solid #D8D8D8;
          border-radius: 5px;
          box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
          padding: 20px 40px;
          position: relative;
          text-align: center;
          width: 97%;

          min-height: 315px;
          position: relative;
          top: 20px;

          @media(min-width: 992px) {
            &.first {
              float: right;
              left: 45px;
            }

            &.last {
              left: -45px;
            }
          }

          @media (max-width: 991px) {
            float: none !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0 auto;
            width: 55%;
            margin-bottom: 25px !important;

            &.last {
              margin-bottom: 0px !important;
            }
          }

          @media (max-width: 600px) {
            width: 90% !important;
          }

          &.featured {
            z-index: 999;

            @media(min-width: 992px) {
              margin: 0 auto;
              top: 0px;
              min-height: 445px;
              .btn-signup {
                margin-top: 32px;
              }
            }

            .popular {
              position: absolute;
              top: 0px;
              left: 0px;
            }
            .quantity {
              margin-top: 15px;
              padding-bottom: 5px;
            }
          }
          .plan-name {
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            color: #444;
            width: 90%;
            margin: 0 auto;
            margin-top: 5px;
          }
          .quantity {
            text-align: center;
            border-bottom: 1px solid #d5d5d5;
            margin-top: 10px;
            .dollar {
              font-size: 19px;
              position: relative;
              top: -18px;
            }
            .price {
              font-size: 49px;
            }
            .period {
              font-size: 17px;
              position: relative;
              top: -8px;
              margin-left: 4px;
            }
          }
          .specs {
            margin-top: 20px;
            .spec {
              font-size: 15px;
              color: #474747;
              text-align: center;
              font-weight: 300;
              margin-bottom: 13px;

              .variable {
                color: #1FBEE7;
                font-weight: 500;
              }
            }
          }
          .btn-signup {
            margin-top: 20px;
            height: 38px;
          }
        }
      }
      .message {
        p {
          text-align: center;
          font-size: 13px;
          color: #656565;
          margin-top: 23px;
        }
      }
      .faq {
        margin-top: 40px;
        .header h3 {
          font-size: 20px;
          color: #454545;
          text-align: left;
        }
        .questions {
          margin-top: 25px;
          .question {
            margin-bottom: 40px;

            @media(min-width: 992px) {
              width: 90%;
            }

            strong {
              font-weight: 500;
              font-size: 16px;
              color: #454545;
            }
            p {
              color: #555;
              margin-top: 10px;
              font-size: 13px;
              line-height: 22px;
            }
          }
        }
      }
      .contact {
        margin-top: 40px;

        .wrapper {
          background: #F7F8FB;
          border: 1px solid #EAEDF7;
          border-radius: 8px;
          padding: 25px 60px;
          box-shadow: inset rgba(100, 100, 100, 0.25) 0 1px 1px;
          margin: 0 auto;
        }
        h4 {
          font-size: 15px;
          position: relative;
          color: #696E72;
          text-align: center;
          font-weight: 500;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);

          @media (max-width: 991px) {
            line-height: 26px;
          }

          span {
            position: absolute;
            font-size: 23px;
            top: -5px;
            left: 72px;
            color: #626E7A;

            @media (max-width: 991px) {
              position: relative;
              left: 0px;
              top: 5px;
            }
          }
        }
      }
    }
  }

  #clients {
    background: #5E7A9B;
    background: radial-gradient(#36414E, #253241);
    text-align: center;
    h3 {
      color: #FFF;
      margin-top: 0;
      font-family: $lato;
      font-weight: 300;
      font-size: 24px;
      letter-spacing: .3px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: 14px;
      color: #f8f8f8;
      font-family: $lato;
      margin-top: 17px;
      font-weight: 300;
      line-height: 25px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    .logos {
      margin-top: 35px;

      img {
        margin: 0 16px;

        @media(max-width: 767px) {
          margin: 0 auto;
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }

}