// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

.user-auth {
  padding-top: 20px;
}
.user-auth .panel-heading a,
.user-auth .panel-heading a:focus,
.user-auth .panel-heading a:visited,
.user-auth .panel-heading a:hover {
  text-decoration: none;
}

.user-auth .panel-heading .cenit-logo,
.user-auth .panel-heading .cenit-hub {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
}

.user-auth .panel-heading .cenit-logo img {
  max-height: 100%;
  width: auto;
}

@media(min-width: 480px) {
  .user-auth {
    width: 460px;
    margin: auto;
  }
}

.user-auth .soc-btn {
  margin: 6px;
  width: 56px;
  transition: all 0.3s ease;
}

.user-auth .soc-btn.unused {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
  visibility: collapse;
}

.user-auth .soc-btn.selected,
.user-auth .soc-btn:hover {
  width: 154px;
}

.user-auth .soc-btn,
.user-auth .soc-btn:focus,
.user-auth .soc-btn:active,
.user-auth .soc-btn:active:focus,
.user-auth .soc-btn:hover {
  color: #ffffff;
  text-align: left;
  outline: none;
}

.user-auth .soc-btn.selected span,
.user-auth .soc-btn:hover span {
  opacity: 1;
  padding-left: 12px;
}

.user-auth .soc-btn span {
  opacity: 0;
  transition: all 0.3s ease;
}

.user-auth .soc-google {
  background-color: #dd4b39;
}

.user-auth .soc-facebook {
  background-color: #4c69ba;
}

.user-auth .soc-github {
  background-color: #010101;
}

.user-auth .soc-twitter {
  background-color: #1bb5e7;
}

.user-auth .form-top,
.user-auth .form-option {
  color: #adadad;
  font-size: 1.75em;
  line-height: 1.75em;
  position: relative;
  margin-bottom: 14px;
}

.user-auth .form-option:before,
.user-auth .form-option:after {
  border-top: 1px solid #adadad;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 45%;
  z-index: 0;
}

.user-auth .form-option:before {
  left: auto;
  right: 0;
}

.user-auth .field {
  margin-bottom: 16px;
  color: #adadad;
}

.user-auth .field label {
  font-weight: lighter;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.25;
  z-index: 10000;
}

.fa-cenit:before {
  content: image_url('logo_icon.png');
}

.user-auth .soc-cenit {
  background-color: #3D4046;
}

.oauth-authorize {
  .images-container {
    margin: 30px 0;
    text-align: center;
    span {
      display: inline-block;
      &.user-img {
        margin-top: -15px;
        @media(min-width: 768px) {
          margin-left: -15px;
          margin-top: 0;
        }
      }
    }
    img {
      width: 100px;
      height: 100px;
      padding: 15px;
      border: solid 1px #dddddd;
      background: rgba(245, 245, 245, 0.6);
    }

  }
  form {
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 25px;
  }
  .actions {
    padding: 0;
    border-radius: 4px;
    margin-bottom: 25px;
    &.granted {
      .action-title {
        background: $brand-success;
      }
    }
    &.request {
      .action-title {
        background: $brand-warning;
      }
    }
    &.bad{
      .action-title {
        background: $brand-danger;
      }
    }
    .action-title {
      padding: 8px 15px;
      color: white;
      font-weight: bold;
    }
    .action-description {
      padding: 15px;
      ul {
        padding-left: 15px;
        list-style-type: square;
        margin-bottom: 0;
        li i {
          margin-left: 5px;
        }
      }
    }
  }
}

.page202 {
    height: 100%;
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    font: 75%/150% Arial, Helvetica, sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #222222;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

#page-wrapper {
    background-size: cover;
    height: 100%;
    position: relative;
    overflow: visible;
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    zoom: 1;
}

.container {
    margin: auto;
    text-align: center;
}

.error {
    font-size: 8em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #ea7400;
    margin-bottom: 2rem;
}

.error span {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 15px;
}

.logo {
    margin-top: 80px;
    margin-bottom: 50px;
}

.page_not {
    text-transform: none;
    font-size: 1.75em;
    color: white;
    margin-bottom: 80px;
    margin-top: 1rem;
    font-family: Helvetica, sans-serif;
}

.are {
    font-size: 1.8em;
    color: black;
    margin-top: 5px;
}

.go_home a {
    background: #5396ff;
}

.go_back a {
    background: #ea7400;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    margin: 15px 8px;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}

.go_button a:hover {
    color: black;
}

.icon {
    padding: 50px;
}
