<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <style></style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
        <tr>
          <td align="center" valign="top">
            <strong>Greetings <%= @email %>!</strong>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              You, or someone pretending to be you, have just signed up for an account on
              <%= link_to 'cenit.io', 'https://cenit.io', :class => 'navbar-brand' %>.
            <br/>
              If you are not expecting this email simply ignore it and you won't be troubled
              about it again.
            <br/>
              However, if you indeed signed up for an account on our platform, please click the
              following link to complete the sign-up process:
              <%= link_to 'Confirm account', confirmation_url(@resource, confirmation_token: @token, host: Cenit.homepage) %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Thank you for choosing us! We are looking forward to here from you.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Best regards from the <%= ENV['COMPANY_NAME'] || 'Cenit IO' %> Support Team.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

