<%# add navigation links to this file %>
<li role="presentation" class="dropdown-header">Date Range</li>
<li><a href="#">Today</a></li>
<li><a href="#">Yesterday</a></li>
<li><a href="#">Last Week</a></li>
<li><a href="#">Last Month</a></li>
<li><a href="#">Year to Date</a></li>
<li data-toggle="modal" data-target="#myModal"><a href="#">Custom Range</a></li>

<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Compare To</li>
<li><a href="#">Previous Period</a></li>
<li><a href="#">Previous Year</a></li>
<li><a href="#">Custom Range</a></li>