<%# add navigation links to this file %>
<li>
	<a href="#">Date Range</a>
	
</li>
<li><a href="#">Compare to</a></li>
<li><a href="#">Product Filter</a></li>
<li class="divider"></li>
<li><%= link_to 'Data', "/data" %></li>

