<ul class="nav nav-sidebar">
  <li class="dropdown-header" role="settings_header">
    <span class="glyphicon glyphicon-cog"></span>
    Settings
  </li>
  <li class="active" role="settings_header"><a href="#">Range Dates</a></li>
  <li role="settings_header"><a href="#">Compare To</a></li>
  <li role="settings_header"><a href="#">Granularity</a></li>
  <li role="settings_header"><a href="#">Filter Products</a></li>
</ul>
<hr>
<ul class="nav nav-sidebar">
  <li class="dropdown-header" role="data_header">
    <span class="glyphicon glyphicon-stats"></span>
    Data
  </li>
  <li role="data_header"><%=link_to 'Overview',dashboard_overview_statistics_path %></li>
  <li role="data_header"><%=link_to 'Revenues',dashboard_revenues_statistics_path %></li>
  <li role="data_header"><%=link_to 'Orders',dashboard_orders_statistics_path %></li>
</ul>

