<ul class="nav nav-sidebar">
  <li role="data_header"><%= link_to 'Overview', dashboard_overview_path %></li>
  <li role="data_header"><%=link_to 'Revenues', dashboard_revenues_path %></li>
  <li role="data_header"><%=link_to 'Orders', dashboard_orders_path %></li>
  <li role="data_header"><%=link_to 'Items', dashboard_items_path %></li>
</ul>

