%html
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    %meta{name: "description", content: 'Orchestrate data flows that may involve several APIs. Automate operational processes, connecting on-premises and cloud services.'}
    %title= 'Cenit IO | open integration Platform(iPaaS)'
    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: :all
  %body.margin-0
    = yield
